In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('acs5_name.csv', index_col = 0)

In [5]:
pd.set_option('display.max_columns', None)

In [8]:
df['block_group'] = df.index
df.head()

,sex_age_tot,sex_age_tot_m,sex_age_tot_f,sex_work_age_tot,sex_work_age_tot_m,sex_work_age_tot_f,sex_not_work_age_tot,sex_not_work_age_tot_m,sex_not_work_age_tot_f,race_tot,non_hisp_total,race_tot_w,race_tot_b,race_tot_a,non_hisp_oth,hisp_tot,commute_time_tot,commute_time_tot_00_14,commute_time_tot_15_29,commute_time_tot_30_59,commute_time_tot_60_plus,commute_time_car,commute_time_car_00_14,commute_time_car_15_29,commute_time_car_30_59,commute_time_car_60_plus,commute_time_bus,commute_time_bus_00_14,commute_time_bus_15_29,commute_time_bus_30_59,commute_time_bus_60_plus,commute_means_tot,commute_car,commute_car_sov,commute_car_hov,commute_bus,commute_wfh,time_leave_to_work_tot,time_leave_to_work_00_05,time_leave_to_work_05_06,time_leave_to_work_06_07,time_leave_to_work_07_08,time_leave_to_work_08_09,time_leave_to_work_09_10,time_leave_to_work_10_12,time_leave_to_work_12_16,time_leave_to_work_16_00,house_ann_inc_total,house_ann_inc_000_010,house_ann_inc_010_025,house_ann_inc_025_050,house_ann_inc_050_100,house_ann_inc_100_200,house_ann_inc_200_plus,house_earnings_tot,house_earnings_pct,house_earnings_yes,house_earnings_no,house_wage_sal_pct,house_wage_sal_yes,house_wage_sal_no,house_soc_sec_pct,house_soc_sec_yes,house_soc_sec_no,house_sup_sec_pct,house_sup_sec_yes,house_sup_sec_no,house_pub_assist_pct,house_pub_assist_yes,house_pub_assist_no,house_pub_snap_pct,house_pub_snap_yes,house_pub_snap_no,house_retire_pct,house_retire_yes,house_retire_no,workers_total,workers_a_profit,wokers_a_non_profit,workers_a_gvt,workers_a_noncorp_self,workers_a_unpay_fam,workers_m,workers_m_profit,wokers_m_non_profit,workers_m_gvt,workers_m_noncorp_self,workers_m_unpay_fam,workers_f,workers_f_for_profit,wokers_f_non_profit,workers_f_gvt,workers_f_noncorp_self,workers_f_unpay_fam,ratio_inc_pov_ann_total,ratio_inc_pov_ann_000_050,ratio_inc_pov_ann_050_099,ratio_inc_pov_ann_100_150,ratio_inc_pov_ann_150_199,ratio_inc_pov_ann_200_plus,block_group
block_group,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,417.0,242.0,454.0,279.0,175.0,205.0,138.0,67.0,659.0,71.0,71.0,0.0,0.0,0.0,588.0,366.0,43.0,154.0,169.0,0.0,336.0,43.0,129.0,164.0,0.0,5.0,0.0,0.0,5.0,0.0,366.0,336.0,294.0,42.0,5.0,0.0,366.0,0.0,57.0,51.0,143.0,57.0,10.0,0.0,46.0,2.0,240.0,10.0,8.0,40.0,164.0,18.0,0.0,240.0,0.845833,203.0,37.0,0.845833,203.0,37.0,0.287500,69.0,171.0,0.087500,21.0,219.0,0.041667,10.0,230.0,0.083333,20.0,220.0,0.262500,63.0,177.0,366.0,255.0,24.0,87.0,0.0,0.0,186.0,113.0,22.0,51.0,0.0,0.0,180.0,142.0,2.0,36.0,0.0,0.0,659.0,33.0,0.0,193.0,39.0,394.0,480291805031
480291805032,1942.0,806.0,1136.0,1319.0,553.0,766.0,623.0,253.0,370.0,1942.0,252.0,193.0,59.0,0.0,0.0,1690.0,765.0,187.0,374.0,204.0,0.0,765.0,187.0,374.0,204.0,0.0,0.0,0.0,0.0,0.0,0.0,777.0,765.0,656.0,109.0,0.0,12.0,765.0,38.0,201.0,128.0,130.0,43.0,0.0,86.0,68.0,71.0,536.0,33.0,116.0,91.0,244.0,52.0,0.0,536.0,0.787313,422.0,114.0,0.787313,422.0,114.0,0.218284,117.0,419.0,0.037313,20.0,516.0,0.014925,8.0,528.0,0.067164,36.0,500.0,0.263060,141.0,395.0,809.0,656.0,80.0,66.0,7.0,0.0,362.0,302.0,18.0,35.0,7.0,0.0,447.0,354.0,62.0,31.0,0.0,0.0,1942.0,160.0,280.0,158.0,173.0,1171.0,480291805032
480291704013,1676.0,663.0,1013.0,838.0,327.0,511.0,838.0,336.0,502.0,1676.0,441.0,272.0,169.0,0.0,0.0,1235.0,416.0,92.0,175.0,133.0,16.0,332.0,92.0,175.0,65.0,0.0,43.0,0.0,0.0,27.0,16.0,416.0,332.0,249.0,83.0,43.0,0.0,416.0,18.0,0.0,79.0,151.0,84.0,41.0,0.0,34.0,9.0,409.0,130.0,181.0,73.0,13.0,12.0,0.0,409.0,0.665037,272.0,137.0,0.665037,272.0,137.0,0.371638,152.0,257.0,0.222494,91.0,318.0,0.039120,16.0,393.0,0.567237,232.0,177.0,0.158924,65.0,344.0,416.0,381.0,15.0,20.0,0.0,0.0,141.0,126.0,15.0,0.0,0.0,0.0,275.0,255.0,0.0,20.0,0.0,0.0,1676.0,630.0,460.0,303.0,77.0,206.0,480291704013
480291704012,730.0,384.0,346.0,306.0,123.0,183.0,424.0,261.0,163.0,730.0,47.0,15.0,32.0,0.0,0.0,683.0,140.0,23.0,57.0,50.0,10.0,100.0,23.0,36.0,41.0,0.0,30.0,0.0,11.0,9.0,10.0,140.0,100.0,83.0,17.0,30.0,0.0,140.0,0.0,0.0,38.0,48.0,10.0,13.0,0.0,21.0,10.0,190.0,57.0,62.0,14.0,57.0,0.0,0.0,190.0,0.631579,120.0,70.0,0.631579,120.0,70.0,0.352632,67.0,123.0,0.273684,52.0,138.0,0.026316,5.0,185.0,0.378947,72.0,118.0,0.236842,45.0,145.0,140.0,115.0,17.0,8.0,0.0,0.0,92.0,67.0,17.0,8.0,0.0,0.0,48.0,48.0,0.0,0.0,0.0,0.0,730.0,260.0,69.0,116.0,159.0,126.0,480291704012
480291914061,2612.0,1229.0,1383.0,1546.0,701.0,845.0,1066.0,528.0,538.0,2612.0,1652.0,1451.0,21.0,91.0,89.0,960.0,1211.0,179.0,648.0,355.0,29.0,1189.0,167.0,648.0,355.0,19.0,10.0,0.0,0.0,0.0,10.0,1459.0,1189.0,1116.0,73.0,10.0,248.0,1211.0,20.0,64.0,156.0,462.0,237.0,105.0,57.0,70.0,40.0,1133.0,0.0,56.0,228.0,258.0,379.0,212.0,1133.0,0.849956,963.0,170.0,0.797882,904.0,229.0,0.300088,340.0,793.0,0.028244,32.0,1101.0,0.000000,0.0,1133.0,0.000000,0.0,1133.0,0.310680,352.0,781.0,1459.0,854.0,155.0,283.0,167.0,0.0,798.0,526.0,31.0,140.0,101.0,0.0,661.0,328.0,124.0,143.0,66.0,0.0,2612.0,0.0,84.0,150.0,50.0,2328.0,480291914061

## Gender melt

In [16]:
df_gender = pd.melt(df, id_vars=['block_group'], value_vars=['sex_age_tot_f','sex_age_tot_m'], var_name = 'gender', value_name ="count_gender" )
df_gender

       block_group         gender  count_gender
0     480291805031  sex_age_tot_f         242.0
1     480291805032  sex_age_tot_f        1136.0
2     480291704013  sex_age_tot_f        1013.0
3     480291704012  sex_age_tot_f         346.0
4     480291914061  sex_age_tot_f        1383.0
...            ...            ...           ...
2163  480291919002  sex_age_tot_m         636.0
2164  480291919005  sex_age_tot_m         407.0
2165  480291920003  sex_age_tot_m         840.0
2166  480291921001  sex_age_tot_m         523.0
2167  480291922002  sex_age_tot_m         437.0

[2168 rows x 3 columns]

In [21]:
df_gender.to_csv('../data_files/gender_census.csv', index = False)

## Gender Working Age Melt

In [23]:
df_gender_work_age = pd.melt(df, id_vars=['block_group'], value_vars=['sex_work_age_tot_m','sex_work_age_tot_f'], var_name = 'gender_work_age', value_name = 'count_gender_work_age' )

df_gender_work_age

       block_group     gender_work_age  count_gender_work_age
0     480291805031  sex_work_age_tot_m                  279.0
1     480291805032  sex_work_age_tot_m                  553.0
2     480291704013  sex_work_age_tot_m                  327.0
3     480291704012  sex_work_age_tot_m                  123.0
4     480291914061  sex_work_age_tot_m                  701.0
...            ...                 ...                    ...
2163  480291919002  sex_work_age_tot_f                  371.0
2164  480291919005  sex_work_age_tot_f                  462.0
2165  480291920003  sex_work_age_tot_f                  427.0
2166  480291921001  sex_work_age_tot_f                  386.0
2167  480291922002  sex_work_age_tot_f                  370.0

[2168 rows x 3 columns]

In [24]:
df_gender_work_age.to_csv('../data_files/gender_working_age_census.csv', index = False)

## Gender Not Working Age Melt

In [25]:
df_gender_not_work_age = pd.melt(df, id_vars=['block_group'], value_vars=['sex_not_work_age_tot_m','sex_not_work_age_tot_f'], var_name = 'gender_not_work_age', value_name = 'count_gender_not_work_age' )
df_gender_not_work_age

       block_group     gender_not_work_age  count_gender_not_work_age
0     480291805031  sex_not_work_age_tot_m                      138.0
1     480291805032  sex_not_work_age_tot_m                      253.0
2     480291704013  sex_not_work_age_tot_m                      336.0
3     480291704012  sex_not_work_age_tot_m                      261.0
4     480291914061  sex_not_work_age_tot_m                      528.0
...            ...                     ...                        ...
2163  480291919002  sex_not_work_age_tot_f                      213.0
2164  480291919005  sex_not_work_age_tot_f                      207.0
2165  480291920003  sex_not_work_age_tot_f                       81.0
2166  480291921001  sex_not_work_age_tot_f                      176.0
2167  480291922002  sex_not_work_age_tot_f                      169.0

[2168 rows x 3 columns]

In [26]:
df_gender_not_work_age.to_csv('../data_files/gender_not_working_age_census.csv', index = False)

## Race Melt

In [94]:
df_race = pd.melt(df, id_vars=['block_group'], value_vars=['race_tot_w','race_tot_b', 'race_tot_a', 'non_hisp_oth', 'hisp_tot'], var_name = 'race', value_name = 'count_race')
df_race

       block_group        race  count_race
0     480291805031  race_tot_w        71.0
1     480291805032  race_tot_w       193.0
2     480291704013  race_tot_w       272.0
3     480291704012  race_tot_w        15.0
4     480291914061  race_tot_w      1451.0
...            ...         ...         ...
5415  480291919002    hisp_tot       996.0
5416  480291919005    hisp_tot       603.0
5417  480291920003    hisp_tot       482.0
5418  480291921001    hisp_tot       417.0
5419  480291922002    hisp_tot       763.0

[5420 rows x 3 columns]

## Commute Time Melt

In [99]:
df_commute_time = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_tot_00_14','commute_time_tot_15_29', 'commute_time_tot_30_59', 'commute_time_tot_60_plus'], var_name = 'commute_time', value_name = 'count_commute_time' )
df_commute_time

       block_group              commute_time  count_commute_time
0     480291805031    commute_time_tot_00_14                43.0
1     480291805032    commute_time_tot_00_14               187.0
2     480291704013    commute_time_tot_00_14                92.0
3     480291704012    commute_time_tot_00_14                23.0
4     480291914061    commute_time_tot_00_14               179.0
...            ...                       ...                 ...
4331  480291919002  commute_time_tot_60_plus                47.0
4332  480291919005  commute_time_tot_60_plus                37.0
4333  480291920003  commute_time_tot_60_plus                62.0
4334  480291921001  commute_time_tot_60_plus                20.0
4335  480291922002  commute_time_tot_60_plus                 6.0

[4336 rows x 3 columns]

## Commute Time Car Melt

In [100]:
df_commute_time_car = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_car_00_14','commute_time_car_15_29', 'commute_time_car_30_59', 'commute_time_car_60_plus'], var_name = 'commute_time_car', value_name = 'count_commute_time_car' )
df_commute_time_car

       block_group          commute_time_car  count_commute_time_car
0     480291805031    commute_time_car_00_14                    43.0
1     480291805032    commute_time_car_00_14                   187.0
2     480291704013    commute_time_car_00_14                    92.0
3     480291704012    commute_time_car_00_14                    23.0
4     480291914061    commute_time_car_00_14                   167.0
...            ...                       ...                     ...
4331  480291919002  commute_time_car_60_plus                    41.0
4332  480291919005  commute_time_car_60_plus                    37.0
4333  480291920003  commute_time_car_60_plus                    62.0
4334  480291921001  commute_time_car_60_plus                     6.0
4335  480291922002  commute_time_car_60_plus                     6.0

[4336 rows x 3 columns]

## Commute Time Bus Melt

In [101]:
df_commute_time_bus = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_bus_00_14','commute_time_bus_15_29', 'commute_time_bus_30_59', 'commute_time_bus_60_plus'], var_name = 'commute_time_bus', value_name = 'count_commute_time_bus' )
df_commute_time_bus

       block_group          commute_time_bus  count_commute_time_bus
0     480291805031    commute_time_bus_00_14                     0.0
1     480291805032    commute_time_bus_00_14                     0.0
2     480291704013    commute_time_bus_00_14                     0.0
3     480291704012    commute_time_bus_00_14                     0.0
4     480291914061    commute_time_bus_00_14                     0.0
...            ...                       ...                     ...
4331  480291919002  commute_time_bus_60_plus                     6.0
4332  480291919005  commute_time_bus_60_plus                     0.0
4333  480291920003  commute_time_bus_60_plus                     0.0
4334  480291921001  commute_time_bus_60_plus                     0.0
4335  480291922002  commute_time_bus_60_plus                     0.0

[4336 rows x 3 columns]

## Commute Method Melt

In [102]:
df_commute_method = pd.melt(df, id_vars=['block_group'], value_vars=['commute_car','commute_car_sov', 'commute_car_hov', 'commute_bus', 'commute_wfh'], var_name = 'commute_method', value_name = 'count_commute_method' )
df_commute_method

       block_group commute_method  count_commute_method
0     480291805031    commute_car                 336.0
1     480291805032    commute_car                 765.0
2     480291704013    commute_car                 332.0
3     480291704012    commute_car                 100.0
4     480291914061    commute_car                1189.0
...            ...            ...                   ...
5415  480291919002    commute_wfh                   0.0
5416  480291919005    commute_wfh                   0.0
5417  480291920003    commute_wfh                   0.0
5418  480291921001    commute_wfh                  91.0
5419  480291922002    commute_wfh                   0.0

[5420 rows x 3 columns]

## Time Leave for Work Melt

In [103]:
df_leave_time = pd.melt(df, id_vars=['block_group'], value_vars=['time_leave_to_work_00_05','time_leave_to_work_05_06', 'time_leave_to_work_06_07', 'time_leave_to_work_07_08', 'time_leave_to_work_08_09', 'time_leave_to_work_09_10', 'time_leave_to_work_10_12', 'time_leave_to_work_12_16', 'time_leave_to_work_16_00'], var_name = 'leave_time', value_name = 'count_leave_time' )
df_leave_time

       block_group                leave_time  count_leave_time
0     480291805031  time_leave_to_work_00_05               0.0
1     480291805032  time_leave_to_work_00_05              38.0
2     480291704013  time_leave_to_work_00_05              18.0
3     480291704012  time_leave_to_work_00_05               0.0
4     480291914061  time_leave_to_work_00_05              20.0
...            ...                       ...               ...
9751  480291919002  time_leave_to_work_16_00             112.0
9752  480291919005  time_leave_to_work_16_00              48.0
9753  480291920003  time_leave_to_work_16_00              29.0
9754  480291921001  time_leave_to_work_16_00               0.0
9755  480291922002  time_leave_to_work_16_00              41.0

[9756 rows x 3 columns]

In [104]:
df.head(0)

Empty DataFrame
Columns: [sex_age_tot, sex_age_tot_m, sex_age_tot_f, sex_work_age_tot, sex_work_age_tot_m, sex_work_age_tot_f, sex_not_work_age_tot, sex_not_work_age_tot_m, sex_not_work_age_tot_f, race_tot, non_hisp_total, race_tot_w, race_tot_b, race_tot_a, non_hisp_oth, hisp_tot, commute_time_tot, commute_time_tot_00_14, commute_time_tot_15_29, commute_time_tot_30_59, commute_time_tot_60_plus, commute_time_car, commute_time_car_00_14, commute_time_car_15_29, commute_time_car_30_59, commute_time_car_60_plus, commute_time_bus, commute_time_bus_00_14, commute_time_bus_15_29, commute_time_bus_30_59, commute_time_bus_60_plus, commute_means_tot, commute_car, commute_car_sov, commute_car_hov, commute_bus, commute_wfh, time_leave_to_work_tot, time_leave_to_work_00_05, time_leave_to_work_05_06, time_leave_to_work_06_07, time_leave_to_work_07_08, time_leave_to_work_08_09, time_leave_to_work_09_10, time_leave_to_work_10_12, time_leave_to_work_12_16, time_leave_to_work_16_00, house_ann_inc_total, house_ann_inc_000_010, house_ann_inc_010_025, house_ann_inc_025_050, house_ann_inc_050_100, house_ann_inc_100_200, house_ann_inc_200_plus, house_earnings_tot, house_earnings_pct, house_earnings_yes, house_earnings_no, house_wage_sal_pct, house_wage_sal_yes, house_wage_sal_no, house_soc_sec_pct, house_soc_sec_yes, house_soc_sec_no, house_sup_sec_pct, house_sup_sec_yes, house_sup_sec_no, house_pub_assist_pct, house_pub_assist_yes, house_pub_assist_no, house_pub_snap_pct, house_pub_snap_yes, house_pub_snap_no, house_retire_pct, house_retire_yes, house_retire_no, workers_total, workers_a_profit, wokers_a_non_profit, workers_a_gvt, workers_a_noncorp_self, workers_a_unpay_fam, workers_m, workers_m_profit, wokers_m_non_profit, workers_m_gvt, workers_m_noncorp_self, workers_m_unpay_fam, workers_f, workers_f_for_profit, wokers_f_non_profit, workers_f_gvt, workers_f_noncorp_self, workers_f_unpay_fam, ratio_inc_pov_ann_total, ratio_inc_pov_ann_000_050, ratio_inc_pov_ann_050_099, ratio_inc_pov_ann_100_150, ratio_inc_pov_ann_150_199, ratio_inc_pov_ann_200_plus, ...]
Index: []

## House Ann Income Melt

In [106]:
df_house_income = pd.melt(df, id_vars=['block_group'], value_vars=['house_ann_inc_000_010','house_ann_inc_010_025', 'house_ann_inc_050_100', 'house_ann_inc_100_200', 'house_ann_inc_200_plus'], var_name = 'house_income', value_name = 'count_house_income' )
df_house_income

       block_group            house_income  count_house_income
0     480291805031   house_ann_inc_000_010                10.0
1     480291805032   house_ann_inc_000_010                33.0
2     480291704013   house_ann_inc_000_010               130.0
3     480291704012   house_ann_inc_000_010                57.0
4     480291914061   house_ann_inc_000_010                 0.0
...            ...                     ...                 ...
5415  480291919002  house_ann_inc_200_plus                 0.0
5416  480291919005  house_ann_inc_200_plus                 0.0
5417  480291920003  house_ann_inc_200_plus                 0.0
5418  480291921001  house_ann_inc_200_plus               123.0
5419  480291922002  house_ann_inc_200_plus                 0.0

[5420 rows x 3 columns]

## Biz Type by Gender Male Melt

In [9]:
df_m_biz_type = pd.melt(df, id_vars=['block_group'], value_vars=['workers_m_profit','wokers_m_non_profit', 'workers_m_gvt', 'workers_m_noncorp_self', 'workers_m_unpay_fam'], var_name = 'm_biz_type', value_name = 'count_biz_type' )
df_m_biz_type

       block_group           m_biz_type  count_biz_type
0     480291805031     workers_m_profit           113.0
1     480291805032     workers_m_profit           302.0
2     480291704013     workers_m_profit           126.0
3     480291704012     workers_m_profit            67.0
4     480291914061     workers_m_profit           526.0
...            ...                  ...             ...
5415  480291919002  workers_m_unpay_fam             0.0
5416  480291919005  workers_m_unpay_fam             0.0
5417  480291920003  workers_m_unpay_fam             0.0
5418  480291921001  workers_m_unpay_fam             0.0
5419  480291922002  workers_m_unpay_fam             0.0

[5420 rows x 3 columns]

## Biz Type by Gender Female Melt

In [13]:
df_f_biz_type = pd.melt(df, id_vars=['block_group'], value_vars=['workers_f_for_profit','wokers_f_non_profit', 'workers_f_gvt', 'workers_f_noncorp_self', 'workers_f_unpay_fam'], var_name = 'f_biz_type', value_name = 'f_count_biz_type' )
df_f_biz_type

       block_group            f_biz_type  f_count_biz_type
0     480291805031  workers_f_for_profit             142.0
1     480291805032  workers_f_for_profit             354.0
2     480291704013  workers_f_for_profit             255.0
3     480291704012  workers_f_for_profit              48.0
4     480291914061  workers_f_for_profit             328.0
...            ...                   ...               ...
5415  480291919002   workers_f_unpay_fam               0.0
5416  480291919005   workers_f_unpay_fam               0.0
5417  480291920003   workers_f_unpay_fam               0.0
5418  480291921001   workers_f_unpay_fam               0.0
5419  480291922002   workers_f_unpay_fam               0.0

[5420 rows x 3 columns]

## Ratio Income to Poverty Melt

In [14]:
df_ratio_inc_pov_ann = pd.melt(df, id_vars=['block_group'], value_vars=['ratio_inc_pov_ann_000_050','house_ann_inc_010_025', 'ratio_inc_pov_ann_050_099', 'ratio_inc_pov_ann_100_150', 'ratio_inc_pov_ann_150_199', 'ratio_inc_pov_ann_200_plus'], var_name = 'ratio_inc_pov', value_name = 'count_ratio_inc_pov' )
df_ratio_inc_pov_ann

       block_group               ratio_inc_pov  count_ratio_inc_pov
0     480291805031   ratio_inc_pov_ann_000_050                 33.0
1     480291805032   ratio_inc_pov_ann_000_050                160.0
2     480291704013   ratio_inc_pov_ann_000_050                630.0
3     480291704012   ratio_inc_pov_ann_000_050                260.0
4     480291914061   ratio_inc_pov_ann_000_050                  0.0
...            ...                         ...                  ...
6499  480291919002  ratio_inc_pov_ann_200_plus                425.0
6500  480291919005  ratio_inc_pov_ann_200_plus                336.0
6501  480291920003  ratio_inc_pov_ann_200_plus                648.0
6502  480291921001  ratio_inc_pov_ann_200_plus                799.0
6503  480291922002  ratio_inc_pov_ann_200_plus                378.0

[6504 rows x 3 columns]