In [1]:
import pandas as pd
import numpy as np

In [6]:
df_biz_type_female = pd.read_csv('../data_files/census_data/census_melt_files/biz_type_female.csv', index_col = 0)

In [7]:
df_biz_type_female.head()

                        f_biz_type  f_count_biz_type
block_group
480291805031  workers_f_for_profit             142.0
480291805032  workers_f_for_profit             354.0
480291704013  workers_f_for_profit             255.0
480291704012  workers_f_for_profit              48.0
480291914061  workers_f_for_profit             328.0

In [9]:
df_biz_type_male = pd.read_csv('../data_files/census_data/census_melt_files/biz_type_male.csv', index_col = 0)

In [10]:
df_biz_type_male.head()

                    m_biz_type  count_biz_type
block_group
480291805031  workers_m_profit           113.0
480291805032  workers_m_profit           302.0
480291704013  workers_m_profit           126.0
480291704012  workers_m_profit            67.0
480291914061  workers_m_profit           526.0