## Census Data Pandas Melt

In [1]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('../data_files/census_data/acs5_name.csv', index_col = 0)

#### The census data import was structured to create individual columns for each variable (males in one column and females in another).  The result was a very wide, cumbersome dataframe. To make the data easier to work with, like variables were unpivoted (i.e. pandas 'melt') to create individual dataframes (e.g. race/ethnicity became one long variable instead of 6 separate ones). Each dataframe was saved as a csv file.

In [47]:
pd.set_option('display.max_columns', None)

In [48]:
df['block_group'] = df.index
df.head()

,sex_age_tot,sex_age_tot_m,sex_age_tot_f,sex_work_age_tot,sex_work_age_tot_m,sex_work_age_tot_f,sex_not_work_age_tot,sex_not_work_age_tot_m,sex_not_work_age_tot_f,race_tot,non_hisp_total,race_tot_w,race_tot_b,race_tot_a,non_hisp_oth,hisp_tot,commute_time_tot,commute_time_tot_00_14,commute_time_tot_15_29,commute_time_tot_30_59,commute_time_tot_60_plus,commute_time_car,commute_time_car_00_14,commute_time_car_15_29,commute_time_car_30_59,commute_time_car_60_plus,commute_time_bus,commute_time_bus_00_14,commute_time_bus_15_29,commute_time_bus_30_59,commute_time_bus_60_plus,commute_means_tot,commute_car,commute_car_sov,commute_car_hov,commute_bus,commute_wfh,time_leave_to_work_tot,time_leave_to_work_00_05,time_leave_to_work_05_06,time_leave_to_work_06_07,time_leave_to_work_07_08,time_leave_to_work_08_09,time_leave_to_work_09_10,time_leave_to_work_10_12,time_leave_to_work_12_16,time_leave_to_work_16_00,house_ann_inc_total,house_ann_inc_000_010,house_ann_inc_010_025,house_ann_inc_025_050,house_ann_inc_050_100,house_ann_inc_100_200,house_ann_inc_200_plus,house_earnings_tot,house_earnings_yes,house_earnings_no,house_wage_sal_yes,house_wage_sal_no,house_self_emp_yes,house_self_emp_no,house_int_div_rent_yes,house_int_div_rent_no,house_soc_sec_yes,house_soc_sec_no,house_sup_sec_yes,house_sup_sec_no,house_pub_assist_yes,house_pub_assist_no,house_pub_snap_yes,house_pub_snap_no,house_retire_yes,house_retire_no,house_other_yes,house_other_no,workers_total,workers_a_profit,wokers_a_non_profit,workers_a_gvt,workers_a_noncorp_self,workers_a_unpay_fam,workers_m,workers_m_profit,wokers_m_non_profit,workers_m_gvt,workers_m_noncorp_self,workers_m_unpay_fam,workers_f,workers_f_for_profit,wokers_f_non_profit,workers_f_gvt,workers_f_noncorp_self,workers_f_unpay_fam,ratio_inc_pov_ann_total,ratio_inc_pov_ann_000_050,ratio_inc_pov_ann_050_099,ratio_inc_pov_ann_100_150,ratio_inc_pov_ann_150_199,ratio_inc_pov_ann_200_plus,block_group
block_group,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,417.0,242.0,454.0,279.0,175.0,205.0,138.0,67.0,659.0,71.0,71.0,0.0,0.0,0.0,588.0,366.0,43.0,154.0,169.0,0.0,336.0,43.0,129.0,164.0,0.0,5.0,0.0,0.0,5.0,0.0,366.0,336.0,294.0,42.0,5.0,0.0,366.0,0.0,57.0,51.0,143.0,57.0,10.0,0.0,46.0,2.0,240.0,10.0,8.0,40.0,164.0,18.0,0.0,240.0,203.0,37.0,203.0,37.0,0.0,240.0,29.0,211.0,69.0,171.0,21.0,219.0,10.0,230.0,20.0,220.0,63.0,177.0,10.0,230.0,366.0,255.0,24.0,87.0,0.0,0.0,186.0,113.0,22.0,51.0,0.0,0.0,180.0,142.0,2.0,36.0,0.0,0.0,659.0,33.0,0.0,193.0,39.0,394.0,480291805031
480291805032,1942.0,806.0,1136.0,1319.0,553.0,766.0,623.0,253.0,370.0,1942.0,252.0,193.0,59.0,0.0,0.0,1690.0,765.0,187.0,374.0,204.0,0.0,765.0,187.0,374.0,204.0,0.0,0.0,0.0,0.0,0.0,0.0,777.0,765.0,656.0,109.0,0.0,12.0,765.0,38.0,201.0,128.0,130.0,43.0,0.0,86.0,68.0,71.0,536.0,33.0,116.0,91.0,244.0,52.0,0.0,536.0,422.0,114.0,422.0,114.0,16.0,520.0,19.0,517.0,117.0,419.0,20.0,516.0,8.0,528.0,36.0,500.0,141.0,395.0,82.0,454.0,809.0,656.0,80.0,66.0,7.0,0.0,362.0,302.0,18.0,35.0,7.0,0.0,447.0,354.0,62.0,31.0,0.0,0.0,1942.0,160.0,280.0,158.0,173.0,1171.0,480291805032
480291704013,1676.0,663.0,1013.0,838.0,327.0,511.0,838.0,336.0,502.0,1676.0,441.0,272.0,169.0,0.0,0.0,1235.0,416.0,92.0,175.0,133.0,16.0,332.0,92.0,175.0,65.0,0.0,43.0,0.0,0.0,27.0,16.0,416.0,332.0,249.0,83.0,43.0,0.0,416.0,18.0,0.0,79.0,151.0,84.0,41.0,0.0,34.0,9.0,409.0,130.0,181.0,73.0,13.0,12.0,0.0,409.0,272.0,137.0,272.0,137.0,12.0,397.0,0.0,409.0,152.0,257.0,91.0,318.0,16.0,393.0,232.0,177.0,65.0,344.0,43.0,366.0,416.0,381.0,15.0,20.0,0.0,0.0,141.0,126.0,15.0,0.0,0.0,0.0,275.0,255.0,0.0,20.0,0.0,0.0,1676.0,630.0,460.0,303.0,77.0,206.0,480291704013
480291704012,730.0,384.0,346.0,306.0,123.0,183.0,424.0,261.0,163.0,730.0,47.0,15.0,32.0,0.0,0.0,683.0,140.0,23.0,57.0,50.0,10.0,100.0,23.0,36.0,41.0,0.0,30.0,0.0,11.0,9.0,10.0,140.0,100.0,83.0,17.0,30.0,0.0,140.0,0.0,0.0,38.0,48.0,10.0,13.0,0.0,21.0,10.0,190.0,57.0,62.0,14.0,57.0,0.0,0.0,190.0,120.0,70.0,120.0,70.0,16.0,174.0,16.0,174.0,67.0,123.0,52.0,138.0,5.0,185.0,72.0,118.0,45.0,145.0,12.0,178.0,140.0,115.0,17.0,8.0,0.0,0.0,92.0,67.0,17.0,8.0,0.0,0.0,48.0,48.0,0.0,0.0,0.0,0.0,730.0,260.0,69.0,116.0,159.0,126.0,480291704012
480291914061,2612.0,1229.0,1383.0,1546.0,701.0,845.0,1066.0,528.0,538.0,2612.0,1652.0,1451.0,21.0,91.0,89.0,960.0,1211.0,179.0,648.0,355.0,29.0,1189.0,167.0,648.0,355.0,19.0,10.0,0.0,0.0,0.0,10.0,1459.0,1189.0,1116.0,73.0,10.0,248.0,1211.0,20.0,64.0,156.0,462.0,237.0,105.0,57.0,70.0,40.0,1133.0,0.0,56.0,228.0,258.0,379.0,212.0,1133.0,963.0,170.0,904.0,229.0,180.0,953.0,276.0,857.0,340.0,793.0,32.0,1101.0,0.0,1133.0,0.0,1133.0,352.0,781.0,72.0,1061.0,1459.0,854.0,155.0,283.0,167.0,0.0,798.0,526.0,31.0,140.0,101.0,0.0,661.0,328.0,124.0,143.0,66.0,0.0,2612.0,0.0,84.0,150.0,50.0,2328.0,480291914061

## Gender melt

In [49]:
df_gender = pd.melt(df, id_vars=['block_group'], value_vars=['sex_age_tot_f','sex_age_tot_m'], var_name = 'gender', value_name ="count_gender" )

In [50]:
df_gender.to_csv('../data_files/census_data/census_melt_files/gender_census.csv', index = False)

## Gender Working Age Melt

In [51]:
df_gender_work_age = pd.melt(df, id_vars=['block_group'], value_vars=['sex_work_age_tot_m','sex_work_age_tot_f'], var_name = 'gender_work_age', value_name = 'count_gender_work_age' )

In [52]:
df_gender_work_age.to_csv('../data_files/census_data/census_melt_files/gender_working_age_census.csv', index = False)

## Gender Not Working Age Melt

In [53]:
df_gender_not_work_age = pd.melt(df, id_vars=['block_group'], value_vars=['sex_not_work_age_tot_m','sex_not_work_age_tot_f'], var_name = 'gender_not_work_age', value_name = 'count_gender_not_work_age' )

In [54]:
df_gender_not_work_age.to_csv('../data_files/census_data/census_melt_files/gender_not_working_age_census.csv', index = False)

## Race Melt

In [55]:
df_race = pd.melt(df, id_vars=['block_group'], value_vars=['race_tot_w','race_tot_b', 'race_tot_a', 'non_hisp_oth', 'hisp_tot'], var_name = 'race', value_name = 'count_race')

In [56]:
df_race.to_csv('../data_files/census_data/census_melt_files/race.csv', index = False)

## Commute Time Melt

In [57]:
df_commute_time = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_tot_00_14','commute_time_tot_15_29', 'commute_time_tot_30_59', 'commute_time_tot_60_plus'], var_name = 'commute_time', value_name = 'count_commute_time' )

In [58]:
df_commute_time.to_csv('../data_files/census_data/census_melt_files/commute_time.csv', index = False)

## Commute Time Car Melt

In [59]:
df_commute_time_car = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_car_00_14','commute_time_car_15_29', 'commute_time_car_30_59', 'commute_time_car_60_plus'], var_name = 'commute_time_car', value_name = 'count_commute_time_car' )

In [60]:
df_commute_time_car.to_csv('../data_files/census_data/census_melt_files/commute_time_car.csv', index = False)

## Commute Time Bus Melt

In [61]:
df_commute_time_bus = pd.melt(df, id_vars=['block_group'], value_vars=['commute_time_bus_00_14','commute_time_bus_15_29', 'commute_time_bus_30_59', 'commute_time_bus_60_plus'], var_name = 'commute_time_bus', value_name = 'count_commute_time_bus' )

In [62]:
df_commute_time_bus.to_csv('../data_files/census_data/census_melt_files/commute_time_bus.csv', index = False)

## Commute Method Melt

In [63]:
df_commute_method = pd.melt(df, id_vars=['block_group'], value_vars=['commute_car_sov', 'commute_car_hov', 'commute_bus', 'commute_wfh'], var_name = 'commute_method', value_name = 'count_commute_method' )

In [64]:
df_commute_method.to_csv('../data_files/census_data/census_melt_files/commute_method.csv', index = False)

## Time Leave for Work Melt

In [65]:
df_leave_time = pd.melt(df, id_vars=['block_group'], value_vars=['time_leave_to_work_00_05','time_leave_to_work_05_06', 'time_leave_to_work_06_07', 'time_leave_to_work_07_08', 'time_leave_to_work_08_09', 'time_leave_to_work_09_10', 'time_leave_to_work_10_12', 'time_leave_to_work_12_16', 'time_leave_to_work_16_00'], var_name = 'leave_time', value_name = 'count_leave_time' )

In [66]:
df_leave_time.to_csv('../data_files/census_data/census_melt_files/leave_time.csv', index = False)

## House Ann Income Melt

In [67]:
df_house_income = pd.melt(df, id_vars=['block_group'], value_vars=['house_ann_inc_000_010','house_ann_inc_010_025', 'house_ann_inc_050_100', 'house_ann_inc_100_200', 'house_ann_inc_200_plus'], var_name = 'house_income', value_name = 'count_house_income' )

In [68]:
df_house_income.to_csv('../data_files/census_data/census_melt_files/house_income.csv', index = False)

## Biz Type by Gender Male Melt

In [69]:
df_m_biz_type = pd.melt(df, id_vars=['block_group'], value_vars=['workers_m_profit','wokers_m_non_profit', 'workers_m_gvt', 'workers_m_noncorp_self', 'workers_m_unpay_fam'], var_name = 'm_biz_type', value_name = 'count_biz_type' )

In [70]:
df_m_biz_type.to_csv('../data_files/census_data/census_melt_files/biz_type_male.csv', index = False)

## Biz Type by Gender Female Melt

In [71]:
df_f_biz_type = pd.melt(df, id_vars=['block_group'], value_vars=['workers_f_for_profit','wokers_f_non_profit', 'workers_f_gvt', 'workers_f_noncorp_self', 'workers_f_unpay_fam'], var_name = 'f_biz_type', value_name = 'f_count_biz_type' )

In [72]:
df_f_biz_type.to_csv('../data_files/census_data/census_melt_files/biz_type_female.csv', index = False)

## Ratio Income to Poverty Melt

In [73]:
df_ratio_inc_pov_ann = pd.melt(df, id_vars=['block_group'], value_vars=['ratio_inc_pov_ann_000_050', 'ratio_inc_pov_ann_050_099', 'ratio_inc_pov_ann_100_150', 'ratio_inc_pov_ann_150_199', 'ratio_inc_pov_ann_200_plus'], var_name = 'ratio_inc_pov', value_name = 'count_ratio_inc_pov' )

In [74]:
df_ratio_inc_pov_ann.to_csv('../data_files/census_data/census_melt_files/ratio_inc_pov_ann.csv', index = False)

## Household Earnings Melt

In [75]:
df_household_earnings = pd.melt(df, id_vars=['block_group'], value_vars=['house_earnings_yes','house_earnings_no'], var_name = 'household_earnings', value_name = 'count_household_earnings' )

In [76]:
df_household_earnings.to_csv('../data_files/census_data/census_melt_files/household_earnings.csv', index = False)

## Household Wage Salary Melt

In [77]:
df_house_wage_sal = pd.melt(df, id_vars=['block_group'], value_vars=['house_wage_sal_yes','house_wage_sal_no'], var_name = 'household_wage_sal', value_name = 'count_household_wage_sal' )

In [78]:
df_house_wage_sal.to_csv('../data_files/census_data/census_melt_files/household_wage_sals.csv', index = False)

## Household Social Security Melt

In [79]:
df_house_soc_sec = pd.melt(df, id_vars=['block_group'], value_vars=['house_soc_sec_yes','house_soc_sec_no'], var_name = 'household_soc_sec', value_name = 'count_household_soc_sec' )

In [80]:
df_house_soc_sec.to_csv('../data_files/census_data/census_melt_files/household_soc_sec.csv', index = False)

## Household SSDI Melt

In [81]:
df_house_ssdi = pd.melt(df, id_vars=['block_group'], value_vars=['house_sup_sec_yes','house_sup_sec_no'], var_name = 'household_ssdi', value_name = 'count_household_ssdi' )

In [82]:
df_house_ssdi.to_csv('../data_files/census_data/census_melt_files/household_ssdi.csv', index = False)

## Household Public Assistance Melt

In [83]:
df_house_pub_assist = pd.melt(df, id_vars=['block_group'], value_vars=['house_pub_assist_yes','house_pub_assist_no'], var_name = 'household_pub_assist', value_name = 'count_household_pub_assist' )

In [84]:
df_house_pub_assist.to_csv('../data_files/census_data/census_melt_files/household_pub_assist.csv', index = False)

## Household SNAP Melt

In [85]:
df_house_pub_snap = pd.melt(df, id_vars=['block_group'], value_vars=['house_pub_snap_yes','house_pub_snap_no'], var_name = 'household_pub_snap', value_name = 'count_household_pub_snap' )

In [86]:
df_house_pub_snap.to_csv('../data_files/census_data/census_melt_files/household_pub_snap.csv', index = False)

## Household Retirement Melt

In [87]:
df_house_retire = pd.melt(df, id_vars=['block_group'], value_vars=['house_retire_yes','house_retire_no'], var_name = 'household_retirement', value_name = 'count_household_retirement' )

In [88]:
df_house_retire.to_csv('../data_files/census_data/census_melt_files/household_retirement.csv', index = False)

## Interest, Dividends and Rental Income

In [93]:
df_house_div_rent = pd.melt(df, id_vars=['block_group'], value_vars=['house_int_div_rent_yes','house_int_div_rent_no'], var_name = 'household_int_div_rent', value_name = 'count_household_int_div_rent' )

In [94]:
df_house_div_rent.to_csv('../data_files/census_data/census_melt_files/household_int_div_rent.csv', index = False)

## Self Employed

In [97]:
df_house_self_emp = pd.melt(df, id_vars=['block_group'], value_vars=['house_self_emp_yes','house_self_emp_no'], var_name = 'household_self_emp', value_name = 'count_household_self_emp' )

In [98]:
df_house_self_emp.to_csv('../data_files/census_data/census_melt_files/household_self_emp.csv', index = False)

## Other Income

In [95]:
df_house_other_inc = pd.melt(df, id_vars=['block_group'], value_vars=['house_other_yes','house_other_no'], var_name = 'household_other_inc', value_name = 'count_household_other_inc' )

In [96]:
df_house_other_inc.to_csv('../data_files/census_data/census_melt_files/household_other_inc.csv', index = False)