In [1]:
import pandas as pd
import numpy as np

In [2]:
def wrangle_acs5(src0):
    df = pd.read_json(src0)
    df.columns = df.iloc[0]
    df = df[1:]
    df['block_group'] = df.state.map(str) + df.county.map(str) + df.tract.map(str) + df['block group'].map(str)
    df=df.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df

In [ ]:
def show_df(df, head_rows=5):
    print(df.info())
    display(df.head(head_rows))

# B01001

[ACS Data](https://api.census.gov/data/2018/acs/acs5?get=B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_026E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E&for=block%20group:*&in=state:48&in=county:029&in=tract:*)

In [3]:
data01 = 'https://api.census.gov/data/2018/acs/acs5?get=B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_026E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src01 = '../data_files/census_data/acs5_B01001_SexByAge.json'
dest01 = '../data_files/census_data/acs5_B01001_SexByAge.csv'

In [4]:
df01 = wrangle_acs5('../data_files/census_data/acs5_B01001_SexByAge.json')

In [5]:
df01.head()

,B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,...,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,417.0,23.0,0.0,0.0,0.0,61.0,34.0,0.0,42.0,...,26.0,15.0,0.0,14.0,49.0,27.0,28.0,5.0,11.0,0.0
480291805032,1942.0,806.0,33.0,0.0,54.0,57.0,58.0,70.0,25.0,113.0,...,100.0,56.0,72.0,72.0,131.0,70.0,54.0,0.0,25.0,6.0
480291704013,1676.0,663.0,24.0,0.0,0.0,64.0,23.0,12.0,21.0,37.0,...,49.0,50.0,55.0,50.0,59.0,28.0,92.0,0.0,0.0,19.0
480291704012,730.0,384.0,0.0,0.0,0.0,9.0,28.0,0.0,26.0,7.0,...,42.0,58.0,9.0,0.0,18.0,13.0,6.0,14.0,15.0,10.0
480291914061,2612.0,1229.0,17.0,0.0,0.0,39.0,17.0,92.0,145.0,53.0,...,35.0,203.0,82.0,79.0,121.0,92.0,108.0,13.0,70.0,21.0

In [6]:
df01.columns

Index(['B01001_001E', 'B01001_002E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E',
       'B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E',
       'B01001_017E', 'B01001_018E', 'B01001_019E', 'B01001_026E',
       'B01001_031E', 'B01001_032E', 'B01001_033E', 'B01001_034E',
       'B01001_035E', 'B01001_036E', 'B01001_037E', 'B01001_038E',
       'B01001_039E', 'B01001_040E', 'B01001_041E', 'B01001_042E',
       'B01001_043E', 'B01001_044E'],
      dtype='object', name=0)

In [7]:
df01.describe()

,B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,...,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,876.411439,27.691882,14.393911,14.196494,40.984317,74.167897,69.639299,61.151292,56.938192,...,70.420664,67.467712,62.415129,57.559041,56.000923,54.717712,52.031365,19.641144,26.867159,15.990775
std,1178.486503,599.663492,65.757881,34.636762,32.631935,53.718416,83.532962,75.548300,65.219533,58.914612,...,79.685637,68.604302,64.300995,58.467543,53.777379,50.012940,41.476233,22.597759,26.645009,19.385336
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,498.750000,0.000000,0.000000,0.000000,0.000000,21.750000,19.000000,20.000000,17.000000,...,21.000000,22.000000,19.000000,17.000000,20.000000,19.000000,20.000000,0.000000,8.000000,0.000000
50%,1456.500000,705.500000,14.000000,0.000000,0.000000,25.000000,52.000000,49.000000,45.000000,41.000000,...,49.000000,49.000000,46.000000,42.000000,43.000000,42.000000,43.500000,13.000000,19.000000,11.000000
75%,2199.000000,1078.250000,35.000000,19.000000,18.250000,58.000000,101.000000,94.000000,82.000000,81.000000,...,98.000000,92.000000,84.000000,80.000000,76.000000,76.000000,74.000000,29.000000,39.000000,24.000000
max,10997.000000,5597.000000,1454.000000,685.000000,561.000000,616.000000,899.000000,559.000000,739.000000,505.000000,...,785.000000,548.000000,608.000000,512.000000,594.000000,370.000000,276.000000,133.000000,175.000000,133.000000

In [8]:
working_age_male = [
    'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 
    'B01001_011E', 'B01001_012E', 'B01001_013E', 'B01001_014E', 
    'B01001_015E', 'B01001_016E', 'B01001_017E', 'B01001_018E', 
    'B01001_019E', 
]

working_age_female = [
    'B01001_031E', 'B01001_032E', 'B01001_033E', 'B01001_034E',
    'B01001_035E', 'B01001_036E', 'B01001_037E', 'B01001_038E',
    'B01001_039E', 'B01001_040E', 'B01001_041E', 'B01001_042E',
    'B01001_043E'
]

In [9]:
df01['B01001_002E_W']=df01[working_age_male].sum(axis=1)

In [10]:
df01['B01001_026E_W']=df01[working_age_female].sum(axis=1)

In [11]:
df01['B01001_002E_N']=df01['B01001_002E']-df01['B01001_002E_W']

In [12]:
df01['B01001_026E_N']=df01['B01001_026E']-df01['B01001_026E_W']

In [13]:
df01['B01001_001E_W'] = df01['B01001_002E_W'] + df01['B01001_026E_W']

In [14]:
df01['B01001_001E_N'] = df01['B01001_002E_N'] + df01['B01001_026E_N']

In [15]:
df01_keep_cols = [
    'B01001_001E', 'B01001_002E', 'B01001_026E', 
    'B01001_001E_W', 'B01001_002E_W', 'B01001_026E_W', 
    'B01001_001E_N', 'B01001_002E_N', 'B01001_026E_N'
]

In [16]:
df01 = df01[df01_keep_cols]

In [17]:
df01

,B01001_001E,B01001_002E,B01001_026E,B01001_001E_W,B01001_002E_W,B01001_026E_W,B01001_001E_N,B01001_002E_N,B01001_026E_N
block_group,,,,,,,,,
480291805031,659.0,417.0,242.0,454.0,279.0,175.0,205.0,138.0,67.0
480291805032,1942.0,806.0,1136.0,1319.0,553.0,766.0,623.0,253.0,370.0
480291704013,1676.0,663.0,1013.0,838.0,327.0,511.0,838.0,336.0,502.0
480291704012,730.0,384.0,346.0,306.0,123.0,183.0,424.0,261.0,163.0
480291914061,2612.0,1229.0,1383.0,1546.0,701.0,845.0,1066.0,528.0,538.0
...,...,...,...,...,...,...,...,...,...
480291919002,1220.0,636.0,584.0,894.0,523.0,371.0,326.0,113.0,213.0
480291919005,1076.0,407.0,669.0,739.0,277.0,462.0,337.0,130.0,207.0
480291920003,1348.0,840.0,508.0,1107.0,680.0,427.0,241.0,160.0,81.0
480291921001,1085.0,523.0,562.0,791.0,405.0,386.0,294.0,118.0,176.0
480291922002,976.0,437.0,539.0,674.0,304.0,370.0,302.0,133.0,169.0

In [18]:
df01.describe()

,B01001_001E,B01001_002E,B01001_026E,B01001_001E_W,B01001_002E_W,B01001_026E_W,B01001_001E_N,B01001_002E_N,B01001_026E_N
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,876.411439,900.216790,1109.719557,552.991697,556.727860,666.908672,323.419742,343.488930
std,1178.486503,599.663492,601.616451,760.708447,404.544785,380.092787,467.051390,234.488587,248.994701
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,498.750000,509.000000,611.750000,297.750000,302.000000,366.750000,174.000000,185.000000
50%,1456.500000,705.500000,738.000000,900.500000,443.000000,450.000000,550.000000,265.000000,283.000000
75%,2199.000000,1078.250000,1124.000000,1373.000000,672.250000,712.250000,814.250000,408.000000,418.000000
max,10997.000000,5597.000000,5400.000000,6566.000000,3888.000000,2899.000000,4431.000000,2034.000000,2501.000000

In [19]:
df01.to_csv(dest01, header=True, index=True, index_label='block_group')

In [20]:
rdf01=pd.read_csv(dest01).set_index('block_group')

In [21]:
rdf01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B01001_001E    1084 non-null   float64
 1   B01001_002E    1084 non-null   float64
 2   B01001_026E    1084 non-null   float64
 3   B01001_001E_W  1084 non-null   float64
 4   B01001_002E_W  1084 non-null   float64
 5   B01001_026E_W  1084 non-null   float64
 6   B01001_001E_N  1084 non-null   float64
 7   B01001_002E_N  1084 non-null   float64
 8   B01001_026E_N  1084 non-null   float64
dtypes: float64(9)
memory usage: 84.7 KB

# B03002

In [22]:
data02 = 'https://api.census.gov/data/2018/acs/acs5?get=B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,B03002_010E,B03002_011E,B03002_012E,B03002_013E,B03002_014E,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src02 = '../data_files/census_data/acs5_B03002_HispanicOrigin.json'
dest02 = '../data_files/census_data/acs5_B03002_HispanicOrigin.csv'

In [23]:
df02 = wrangle_acs5(src02)

In [24]:
df02.head()

,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,B03002_010E,...,B03002_012E,B03002_013E,B03002_014E,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,71.0,71.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,588.0,560.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,0.0
480291805032,1942.0,252.0,193.0,59.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1690.0,1501.0,0.0,0.0,0.0,0.0,115.0,74.0,35.0,39.0
480291704013,1676.0,441.0,272.0,169.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1235.0,993.0,41.0,0.0,0.0,0.0,142.0,59.0,59.0,0.0
480291704012,730.0,47.0,15.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,...,683.0,585.0,0.0,0.0,0.0,0.0,57.0,41.0,41.0,0.0
480291914061,2612.0,1652.0,1451.0,21.0,0.0,91.0,0.0,0.0,89.0,0.0,...,960.0,857.0,0.0,0.0,0.0,0.0,21.0,82.0,18.0,64.0

In [25]:
df02.columns

Index(['B03002_001E', 'B03002_002E', 'B03002_003E', 'B03002_004E',
       'B03002_005E', 'B03002_006E', 'B03002_007E', 'B03002_008E',
       'B03002_009E', 'B03002_010E', 'B03002_011E', 'B03002_012E',
       'B03002_013E', 'B03002_014E', 'B03002_015E', 'B03002_016E',
       'B03002_017E', 'B03002_018E', 'B03002_019E', 'B03002_020E',
       'B03002_021E'],
      dtype='object', name=0)

In [26]:
df02.describe()

,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,B03002_010E,...,B03002_012E,B03002_013E,B03002_014E,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,710.664207,497.633764,125.840406,2.641144,48.443727,1.465867,2.449262,32.190037,1.858856,...,1065.964022,918.749077,9.494465,9.562731,1.709410,0.432657,101.271218,24.744465,12.000000,12.744465
std,1178.486503,750.855431,552.644135,210.169670,9.437230,109.122233,12.040856,10.274362,67.024898,15.140201,...,722.850541,645.464586,27.784871,35.336514,8.380465,3.946091,113.414887,38.120432,23.700501,27.122856
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,177.000000,98.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,583.000000,469.750000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000
50%,1456.500000,494.500000,331.500000,41.000000,0.000000,1.000000,0.000000,0.000000,6.000000,0.000000,...,937.000000,803.000000,0.000000,0.000000,0.000000,0.000000,63.000000,8.000000,0.000000,0.000000
75%,2199.000000,1008.000000,695.750000,162.000000,0.000000,48.000000,0.000000,0.000000,36.000000,0.000000,...,1361.000000,1186.500000,5.000000,0.000000,0.000000,0.000000,147.500000,36.000000,16.000000,14.000000
max,10997.000000,6573.000000,5148.000000,1790.000000,84.000000,1547.000000,198.000000,146.000000,686.000000,401.000000,...,5648.000000,4828.000000,324.000000,387.000000,103.000000,91.000000,649.000000,265.000000,238.000000,208.000000

In [27]:
race_tot =     'B03002_001E'
nh_tot = 'B03002_002E'
hl_tot =     'B03002_012E'

nh_cols = [
    'B03002_002E', 
    'B03002_003E', 
    'B03002_004E',
    'B03002_005E', 
    'B03002_006E', 
    'B03002_007E', 
    'B03002_008E',
    'B03002_009E', 
    'B03002_010E', 
    'B03002_011E', 
]
nh_sep = [
    'B03002_003E', 
    'B03002_004E',
    'B03002_006E', 
    
]
nh_oth = [
    'B03002_005E', 
    'B03002_007E', 
    'B03002_008E',
    'B03002_009E', 
    'B03002_010E', 
    'B03002_011E', 
]
hl_cols = [
    'B03002_012E',
    'B03002_013E', 
    'B03002_014E', 
    'B03002_015E', 
    'B03002_016E',
    'B03002_017E', 
    'B03002_018E', 
    'B03002_019E', 
    'B03002_020E',
    'B03002_021E'
]

In [28]:
df02[nh_cols].sum()

0
B03002_002E    770360.0
B03002_003E    539435.0
B03002_004E    136411.0
B03002_005E      2863.0
B03002_006E     52513.0
B03002_007E      1589.0
B03002_008E      2655.0
B03002_009E     34894.0
B03002_010E      2015.0
B03002_011E     32879.0
dtype: float64

In [29]:
df02[hl_cols].sum()

0
B03002_012E    1155505.0
B03002_013E     995924.0
B03002_014E      10292.0
B03002_015E      10366.0
B03002_016E       1853.0
B03002_017E        469.0
B03002_018E     109778.0
B03002_019E      26823.0
B03002_020E      13008.0
B03002_021E      13815.0
dtype: float64

In [30]:
df02['B03002_002E_O'] = df02.B03002_005E + df02.B03002_007E + df02.B03002_008E + df02.B03002_009E

In [31]:
df02_keep_cols = [
    'B03002_001E',
    'B03002_002E',
    'B03002_003E', 
    'B03002_004E',
    'B03002_006E', 
    'B03002_002E_O',
    'B03002_012E'
]

In [32]:
df02 = df02[df02_keep_cols]

In [33]:
df02.sum()

0
B03002_001E      1925865.0
B03002_002E       770360.0
B03002_003E       539435.0
B03002_004E       136411.0
B03002_006E        52513.0
B03002_002E_O      42001.0
B03002_012E      1155505.0
dtype: float64

In [34]:
df02.head()

,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_006E,B03002_002E_O,B03002_012E
block_group,,,,,,,
480291805031,659.0,71.0,71.0,0.0,0.0,0.0,588.0
480291805032,1942.0,252.0,193.0,59.0,0.0,0.0,1690.0
480291704013,1676.0,441.0,272.0,169.0,0.0,0.0,1235.0
480291704012,730.0,47.0,15.0,32.0,0.0,0.0,683.0
480291914061,2612.0,1652.0,1451.0,21.0,91.0,89.0,960.0

In [35]:
df02.to_csv(dest02, header=True, index=True, index_label='block_group')

In [36]:
rdf02=pd.read_csv(dest02).set_index('block_group')

In [37]:
rdf02.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B03002_001E    1084 non-null   float64
 1   B03002_002E    1084 non-null   float64
 2   B03002_003E    1084 non-null   float64
 3   B03002_004E    1084 non-null   float64
 4   B03002_006E    1084 non-null   float64
 5   B03002_002E_O  1084 non-null   float64
 6   B03002_012E    1084 non-null   float64
dtypes: float64(7)
memory usage: 67.8 KB

# B08134

In [38]:
data03 = 'https://api.census.gov/data/2018/acs/acs5?get=B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,B08134_011E,B08134_012E,B08134_013E,B08134_014E,B08134_015E,B08134_016E,B08134_017E,B08134_018E,B08134_019E,B08134_020E,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E,B08134_080E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src03 = '../data_files/census_data/acs5_B08134_TransportByTravelTime.json'
dest03 = '../data_files/census_data/acs5_B08134_TransportByTravelTime.csv'

In [39]:
df03 = wrangle_acs5(src03)

In [40]:
df03.head()

,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,...,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E,B08134_080E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,22.0,21.0,10.0,113.0,31.0,164.0,0.0,5.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
480291805032,765.0,79.0,108.0,71.0,211.0,92.0,130.0,74.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291704013,416.0,64.0,28.0,0.0,95.0,80.0,72.0,34.0,27.0,16.0,...,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,16.0
480291704012,140.0,7.0,16.0,35.0,17.0,5.0,41.0,0.0,9.0,10.0,...,30.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,9.0,10.0
480291914061,1211.0,99.0,80.0,311.0,199.0,138.0,196.0,120.0,39.0,29.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

In [41]:
df03.columns

Index(['B08134_001E', 'B08134_002E', 'B08134_003E', 'B08134_004E',
       'B08134_005E', 'B08134_006E', 'B08134_007E', 'B08134_008E',
       'B08134_009E', 'B08134_010E', 'B08134_011E', 'B08134_012E',
       'B08134_013E', 'B08134_014E', 'B08134_015E', 'B08134_016E',
       'B08134_017E', 'B08134_018E', 'B08134_019E', 'B08134_020E',
       'B08134_071E', 'B08134_072E', 'B08134_073E', 'B08134_074E',
       'B08134_075E', 'B08134_076E', 'B08134_077E', 'B08134_078E',
       'B08134_079E', 'B08134_080E'],
      dtype='object', name=0)

In [42]:
df03.describe()

,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,...,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E,B08134_080E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,785.725092,66.654982,96.269373,134.638376,145.437269,61.892989,132.795203,50.648524,55.289668,42.098708,...,19.840406,0.640221,0.879151,1.607934,1.440959,0.746310,3.227860,1.190959,2.634686,7.472325
std,561.063115,80.400756,90.165792,108.633195,118.951524,65.863520,122.796961,68.279091,78.262344,56.968933,...,32.494014,4.090807,4.810266,8.175723,6.155962,5.130003,10.268452,6.002113,9.607118,17.358056
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,404.750000,19.750000,35.000000,59.000000,65.000000,16.000000,50.000000,4.000000,6.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,630.000000,47.000000,74.000000,107.000000,116.500000,43.000000,99.000000,27.000000,30.000000,26.000000,...,5.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,982.500000,92.250000,129.000000,175.250000,197.250000,84.000000,178.250000,68.250000,72.250000,57.250000,...,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000
max,5011.000000,1492.000000,835.000000,678.000000,1024.000000,492.000000,996.000000,507.000000,980.000000,655.000000,...,396.000000,52.000000,69.000000,110.000000,61.000000,85.000000,97.000000,74.000000,90.000000,159.000000

In [43]:
df03_all_cols = [
    'B08134_001E', 'B08134_002E', 'B08134_003E', 'B08134_004E', 'B08134_005E', 
    'B08134_006E', 'B08134_007E', 'B08134_008E', 'B08134_009E', 'B08134_010E'
]
df03[df03_all_cols].sum()

0
B08134_001E    851726.0
B08134_002E     72254.0
B08134_003E    104356.0
B08134_004E    145948.0
B08134_005E    157654.0
B08134_006E     67092.0
B08134_007E    143950.0
B08134_008E     54903.0
B08134_009E     59934.0
B08134_010E     45635.0
dtype: float64

In [44]:
df03_car_cols = [
    'B08134_011E', 'B08134_012E', 'B08134_013E', 'B08134_014E', 'B08134_015E', 
    'B08134_016E', 'B08134_017E', 'B08134_018E', 'B08134_019E', 'B08134_020E'
]
df03[df03_car_cols].sum()

0
B08134_011E    801428.0
B08134_012E     62295.0
B08134_013E     97659.0
B08134_014E    139882.0
B08134_015E    153749.0
B08134_016E     65620.0
B08134_017E    137412.0
B08134_018E     53072.0
B08134_019E     55853.0
B08134_020E     35886.0
dtype: float64

In [45]:
df03_bus_cols = [
    'B08134_071E', 'B08134_072E', 'B08134_073E', 'B08134_074E', 'B08134_075E', 
    'B08134_076E', 'B08134_077E', 'B08134_078E', 'B08134_079E', 'B08134_080E'
]
df03[df03_bus_cols].sum()

0
B08134_071E    21507.0
B08134_072E      694.0
B08134_073E      953.0
B08134_074E     1743.0
B08134_075E     1562.0
B08134_076E      809.0
B08134_077E     3499.0
B08134_078E     1291.0
B08134_079E     2856.0
B08134_080E     8100.0
dtype: float64

In [46]:
# merge trans_means_time_tot_00_14
df03['B08134_003E_M'] = df03['B08134_002E'] + df03['B08134_003E']

In [47]:
# merge trans_means_time_tot_15_29
df03['B08134_006E_M'] = df03['B08134_004E'] + df03['B08134_005E'] + df03['B08134_006E']

In [48]:
# merge trans_means_time_tot_30_59
df03['B08134_009E_M'] = df03['B08134_007E'] + df03['B08134_008E'] + df03['B08134_009E']

In [49]:
# merge trans_means_time_car_00_14
df03['B08134_013E_M'] = df03['B08134_012E'] + df03['B08134_013E']

In [50]:
# merge trans_means_time_car_15_29
df03['B08134_016E_M'] = df03['B08134_014E'] + df03['B08134_015E'] + df03['B08134_016E']

In [51]:
# merge trans_means_time_car_30_59
df03['B08134_019E_M'] = df03['B08134_017E'] + df03['B08134_018E'] + df03['B08134_019E']

In [52]:
# merge trans_bus_time_00_14
df03['B08134_073E_M'] = df03['B08134_072E'] + df03['B08134_073E']

In [53]:
# merge trans_bus_time_15_29
df03['B08134_076E_M'] = df03['B08134_074E'] + df03['B08134_075E'] + df03['B08134_076E']

In [54]:
# merge trans_bus_time_tot_30_59
df03['B08134_079E_M'] = df03['B08134_077E'] + df03['B08134_078E'] + df03['B08134_079E']

In [55]:
df03_keep_cols = [
    'B08134_001E',
    'B08134_003E_M', 
    'B08134_006E_M', 
    'B08134_009E_M', 
    'B08134_010E', 
    'B08134_011E', 
    'B08134_013E_M', 
    'B08134_016E_M', 
    'B08134_019E_M', 
    'B08134_020E',
    'B08134_071E', 
    'B08134_073E_M', 
    'B08134_076E_M', 
    'B08134_079E_M', 
    'B08134_080E'
]

In [56]:
df03 = df03[df03_keep_cols]

In [57]:
df03.sum()

0
B08134_001E      851726.0
B08134_003E_M    176610.0
B08134_006E_M    370694.0
B08134_009E_M    258787.0
B08134_010E       45635.0
B08134_011E      801428.0
B08134_013E_M    159954.0
B08134_016E_M    359251.0
B08134_019E_M    246337.0
B08134_020E       35886.0
B08134_071E       21507.0
B08134_073E_M      1647.0
B08134_076E_M      4114.0
B08134_079E_M      7646.0
B08134_080E        8100.0
dtype: float64

In [58]:
df03.to_csv(dest03, header=True, index=True, index_label='block_group')

In [59]:
rdf03=pd.read_csv(dest03).set_index('block_group')

In [60]:
rdf03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B08134_001E    1084 non-null   float64
 1   B08134_003E_M  1084 non-null   float64
 2   B08134_006E_M  1084 non-null   float64
 3   B08134_009E_M  1084 non-null   float64
 4   B08134_010E    1084 non-null   float64
 5   B08134_011E    1084 non-null   float64
 6   B08134_013E_M  1084 non-null   float64
 7   B08134_016E_M  1084 non-null   float64
 8   B08134_019E_M  1084 non-null   float64
 9   B08134_020E    1084 non-null   float64
 10  B08134_071E    1084 non-null   float64
 11  B08134_073E_M  1084 non-null   float64
 12  B08134_076E_M  1084 non-null   float64
 13  B08134_079E_M  1084 non-null   float64
 14  B08134_080E    1084 non-null   float64
dtypes: float64(15)
memory usage: 135.5 KB

# B08301

In [61]:
data04 = 'https://api.census.gov/data/2018/acs/acs5?get=B08301_001E,B08301_002E,B08301_003E,B08301_004E,B08301_011E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src04 = '../data_files/census_data/acs5_B08301_TransportationToWork.json'
dest04 = '../data_files/census_data/acs5_B08301_TransportationToWork.csv'

In [62]:
df04 = wrangle_acs5(src04)

In [63]:
df04.head()

,B08301_001E,B08301_002E,B08301_003E,B08301_004E,B08301_011E,B08301_021E
block_group,,,,,,
480291805031,366.0,336.0,294.0,42.0,5.0,0.0
480291805032,777.0,765.0,656.0,109.0,0.0,12.0
480291704013,416.0,332.0,249.0,83.0,43.0,0.0
480291704012,140.0,100.0,83.0,17.0,30.0,0.0
480291914061,1459.0,1189.0,1116.0,73.0,10.0,248.0

In [64]:
df04.columns

Index(['B08301_001E', 'B08301_002E', 'B08301_003E', 'B08301_004E',
       'B08301_011E', 'B08301_021E'],
      dtype='object', name=0)

In [65]:
df04.describe()

,B08301_001E,B08301_002E,B08301_003E,B08301_004E,B08301_011E,B08301_021E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,820.467712,739.324723,649.805351,89.519373,19.840406,34.742620
std,597.814465,539.684392,485.258848,87.085383,32.494014,64.332033
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,419.000000,369.000000,319.750000,31.000000,0.000000,0.000000
50%,650.000000,586.000000,503.000000,67.000000,5.500000,16.000000
75%,1026.750000,949.000000,842.750000,121.000000,28.000000,46.000000
max,5215.000000,4954.000000,4438.000000,716.000000,396.000000,1329.000000

In [66]:
df04.sum()

0
B08301_001E    889387.0
B08301_002E    801428.0
B08301_003E    704389.0
B08301_004E     97039.0
B08301_011E     21507.0
B08301_021E     37661.0
dtype: float64

In [67]:
df04.to_csv(dest04, header=True, index=True, index_label='block_group')

In [68]:
rdf04=pd.read_csv(dest04).set_index('block_group')

In [69]:
rdf04.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   B08301_001E  1084 non-null   float64
 1   B08301_002E  1084 non-null   float64
 2   B08301_003E  1084 non-null   float64
 3   B08301_004E  1084 non-null   float64
 4   B08301_011E  1084 non-null   float64
 5   B08301_021E  1084 non-null   float64
dtypes: float64(6)
memory usage: 59.3 KB

# B08302

In [70]:
data05 = 'https://api.census.gov/data/2018/acs/acs5?get=B08302_001E,B08302_002E,B08302_003E,B08302_004E,B08302_005E,B08302_006E,B08302_007E,B08302_008E,B08302_009E,B08302_010E,B08302_011E,B08302_012E,B08302_013E,B08302_014E,B08302_015E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src05 = '../data_files/census_data/acs5_B08302_LeaveTimeForWork.json'
dest05 = '../data_files/census_data/acs5_B08302_LeaveTimeForWork.csv'

In [71]:
df05 = wrangle_acs5(src05)

In [72]:
df05.head()

,B08302_001E,B08302_002E,B08302_003E,B08302_004E,B08302_005E,B08302_006E,B08302_007E,B08302_008E,B08302_009E,B08302_010E,B08302_011E,B08302_012E,B08302_013E,B08302_014E,B08302_015E
block_group,,,,,,,,,,,,,,,
480291805031,366.0,0.0,0.0,57.0,14.0,37.0,97.0,46.0,37.0,20.0,10.0,0.0,0.0,46.0,2.0
480291805032,765.0,38.0,26.0,175.0,120.0,8.0,79.0,51.0,19.0,24.0,0.0,51.0,35.0,68.0,71.0
480291704013,416.0,18.0,0.0,0.0,59.0,20.0,135.0,16.0,84.0,0.0,41.0,0.0,0.0,34.0,9.0
480291704012,140.0,0.0,0.0,0.0,27.0,11.0,48.0,0.0,0.0,10.0,13.0,0.0,0.0,21.0,10.0
480291914061,1211.0,20.0,38.0,26.0,58.0,98.0,305.0,157.0,87.0,150.0,105.0,57.0,0.0,70.0,40.0

In [73]:
df05.columns

Index(['B08302_001E', 'B08302_002E', 'B08302_003E', 'B08302_004E',
       'B08302_005E', 'B08302_006E', 'B08302_007E', 'B08302_008E',
       'B08302_009E', 'B08302_010E', 'B08302_011E', 'B08302_012E',
       'B08302_013E', 'B08302_014E', 'B08302_015E'],
      dtype='object', name=0)

In [74]:
df05.describe()

,B08302_001E,B08302_002E,B08302_003E,B08302_004E,B08302_005E,B08302_006E,B08302_007E,B08302_008E,B08302_009E,B08302_010E,B08302_011E,B08302_012E,B08302_013E,B08302_014E,B08302_015E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,785.725092,33.860701,27.372694,37.709410,80.691882,84.186347,131.534133,79.960332,79.472325,33.227860,50.437269,22.304428,11.501845,54.011070,59.454797
std,561.063115,43.794070,40.447102,46.703792,82.866674,86.266194,119.742929,71.196341,77.509623,42.617073,57.274982,31.226151,21.409842,58.497231,63.005773
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,404.750000,0.000000,0.000000,0.000000,26.000000,28.000000,50.750000,29.750000,26.000000,0.000000,13.000000,0.000000,0.000000,15.000000,14.000000
50%,630.000000,20.000000,15.000000,25.000000,59.000000,60.000000,101.000000,63.000000,59.000000,20.000000,35.000000,11.000000,0.000000,37.000000,41.000000
75%,982.500000,48.000000,39.000000,52.250000,108.250000,114.000000,178.000000,110.250000,107.000000,46.000000,69.000000,34.000000,16.000000,74.000000,84.000000
max,5011.000000,335.000000,488.000000,551.000000,635.000000,763.000000,1090.000000,590.000000,615.000000,400.000000,727.000000,315.000000,219.000000,591.000000,475.000000

In [75]:
df05.sum()

0
B08302_001E    851726.0
B08302_002E     36705.0
B08302_003E     29672.0
B08302_004E     40877.0
B08302_005E     87470.0
B08302_006E     91258.0
B08302_007E    142583.0
B08302_008E     86677.0
B08302_009E     86148.0
B08302_010E     36019.0
B08302_011E     54674.0
B08302_012E     24178.0
B08302_013E     12468.0
B08302_014E     58548.0
B08302_015E     64449.0
dtype: float64

In [76]:
# merge time_leave_to_work_05_06
df05['B08302_004E_M'] = df05['B08302_003E'] + df05['B08302_004E']

In [77]:
# merge time_leave_to_work_06_07
df05['B08302_006E_M'] = df05['B08302_005E'] + df05['B08302_006E']

In [78]:
# merge time_leave_to_work_07_08
df05['B08302_008E_M'] = df05['B08302_007E'] + df05['B08302_008E']

In [79]:
# merge time_leave_to_work_08_09
df05['B08302_010E_M'] = df05['B08302_009E'] + df05['B08302_010E']

In [80]:
# merge time_leave_to_work_10_12
df05['B08302_013E_M'] = df05['B08302_012E'] + df05['B08302_013E']

In [81]:
df05_keep_cols = [
    'B08302_001E', 
    'B08302_002E', 
    'B08302_004E_M',
    'B08302_006E_M', 
    'B08302_008E_M',
    'B08302_010E_M', 
    'B08302_011E', 
    'B08302_013E_M', 
    'B08302_014E', 
    'B08302_015E'
]

In [82]:
df05[df05_keep_cols].sum()

0
B08302_001E      851726.0
B08302_002E       36705.0
B08302_004E_M     70549.0
B08302_006E_M    178728.0
B08302_008E_M    229260.0
B08302_010E_M    122167.0
B08302_011E       54674.0
B08302_013E_M     36646.0
B08302_014E       58548.0
B08302_015E       64449.0
dtype: float64

In [83]:
df05 = df05[df05_keep_cols]

In [84]:
df05.to_csv(dest05, header=True, index=True, index_label='block_group')

In [85]:
rdf05=pd.read_csv(dest05).set_index('block_group')

In [86]:
rdf05.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B08302_001E    1084 non-null   float64
 1   B08302_002E    1084 non-null   float64
 2   B08302_004E_M  1084 non-null   float64
 3   B08302_006E_M  1084 non-null   float64
 4   B08302_008E_M  1084 non-null   float64
 5   B08302_010E_M  1084 non-null   float64
 6   B08302_011E    1084 non-null   float64
 7   B08302_013E_M  1084 non-null   float64
 8   B08302_014E    1084 non-null   float64
 9   B08302_015E    1084 non-null   float64
dtypes: float64(10)
memory usage: 93.2 KB

# B08303

In [87]:
data06 = 'https://api.census.gov/data/2018/acs/acs5?get=B08303_001E,B08303_002E,B08303_003E,B08303_004E,B08303_005E,B08303_006E,B08303_007E,B08303_008E,B08303_009E,B08303_010E,B08303_011E,B08303_012E,B08303_013E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src06 = '../data_files/census_data/acs5_B08303_TravelTimeToWork.json'
dest06 = '../data_files/census_data/acs5_B08303_TravelTimeToWork.csv'

In [88]:
df06 = wrangle_acs5(src06)

In [89]:
df06.head()

,B08303_001E,B08303_002E,B08303_003E,B08303_004E,B08303_005E,B08303_006E,B08303_007E,B08303_008E,B08303_009E,B08303_010E,B08303_011E,B08303_012E,B08303_013E
block_group,,,,,,,,,,,,,
480291805031,366.0,0.0,22.0,21.0,10.0,113.0,31.0,164.0,0.0,0.0,5.0,0.0,0.0
480291805032,765.0,0.0,79.0,108.0,71.0,211.0,92.0,130.0,25.0,49.0,0.0,0.0,0.0
480291704013,416.0,19.0,45.0,28.0,0.0,95.0,80.0,72.0,34.0,0.0,27.0,16.0,0.0
480291704012,140.0,0.0,7.0,16.0,35.0,17.0,5.0,41.0,0.0,0.0,9.0,10.0,0.0
480291914061,1211.0,0.0,99.0,80.0,311.0,199.0,138.0,196.0,67.0,53.0,39.0,0.0,29.0

In [90]:
df06.columns

Index(['B08303_001E', 'B08303_002E', 'B08303_003E', 'B08303_004E',
       'B08303_005E', 'B08303_006E', 'B08303_007E', 'B08303_008E',
       'B08303_009E', 'B08303_010E', 'B08303_011E', 'B08303_012E',
       'B08303_013E'],
      dtype='object', name=0)

In [91]:
df06.describe()

,B08303_001E,B08303_002E,B08303_003E,B08303_004E,B08303_005E,B08303_006E,B08303_007E,B08303_008E,B08303_009E,B08303_010E,B08303_011E,B08303_012E,B08303_013E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,785.725092,11.661439,54.993542,96.269373,134.638376,145.437269,61.892989,132.795203,22.761993,27.886531,55.289668,27.385609,14.713100
std,561.063115,24.011938,69.193527,90.165792,108.633195,118.951524,65.863520,122.796961,35.620870,43.215805,78.262344,43.548986,27.228213
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,404.750000,0.000000,13.750000,35.000000,59.000000,65.000000,16.000000,50.000000,0.000000,0.000000,6.000000,0.000000,0.000000
50%,630.000000,0.000000,38.000000,74.000000,107.000000,116.500000,43.000000,99.000000,9.000000,12.000000,30.000000,14.000000,0.000000
75%,982.500000,14.250000,75.250000,129.000000,175.250000,197.250000,84.000000,178.250000,34.000000,36.000000,72.250000,36.000000,20.000000
max,5011.000000,278.000000,1214.000000,835.000000,678.000000,1024.000000,492.000000,996.000000,303.000000,356.000000,980.000000,496.000000,346.000000

In [92]:
df06.sum()

0
B08303_001E    851726.0
B08303_002E     12641.0
B08303_003E     59613.0
B08303_004E    104356.0
B08303_005E    145948.0
B08303_006E    157654.0
B08303_007E     67092.0
B08303_008E    143950.0
B08303_009E     24674.0
B08303_010E     30229.0
B08303_011E     59934.0
B08303_012E     29686.0
B08303_013E     15949.0
dtype: float64

In [93]:
# merge trans_means_time_tot_00_14
df06['B08303_004E_M'] = df06['B08303_002E'] + df06['B08303_003E'] + df06['B08303_004E']

In [94]:
# merge trans_means_time_tot_15_29
df06['B08303_007E_M'] = df06['B08303_005E'] + df06['B08303_006E'] + df06['B08303_007E']

In [95]:
# merge trans_means_time_tot_30_59
df06['B08303_011E_M'] = df06['B08303_008E'] + df06['B08303_009E'] + df06['B08303_010E'] + df06['B08303_011E']

In [96]:
# merge travel_time_60_plus
df06['B08303_013E_M'] = df06['B08303_012E'] + df06['B08303_013E']

In [97]:
df06_keep_cols = [
    'B08303_001E', 
    'B08303_004E_M', 
    'B08303_007E_M', 
    'B08303_011E_M', 
    'B08303_013E_M'
]

In [98]:
df06[df06_keep_cols].sum()

0
B08303_001E      851726.0
B08303_004E_M    176610.0
B08303_007E_M    370694.0
B08303_011E_M    258787.0
B08303_013E_M     45635.0
dtype: float64

In [99]:
df06 = df06[df06_keep_cols]

In [100]:
df06.to_csv(dest06, header=True, index=True, index_label='block_group')

In [101]:
rdf06=pd.read_csv(dest06).set_index('block_group')

In [102]:
rdf06.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B08303_001E    1084 non-null   float64
 1   B08303_004E_M  1084 non-null   float64
 2   B08303_007E_M  1084 non-null   float64
 3   B08303_011E_M  1084 non-null   float64
 4   B08303_013E_M  1084 non-null   float64
dtypes: float64(5)
memory usage: 50.8 KB

# B19001

In [103]:
data07 = 'https://api.census.gov/data/2018/acs/acs5?get=B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src07 = '../data_files/census_data/acs5_B19001_HouseholdIncome.json'
dest07 = '../data_files/census_data/acs5_B19001_HouseholdIncome.csv'

In [104]:
df07 = wrangle_acs5(src07)

In [105]:
df07.head()

,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E
block_group,,,,,,,,,,,,,,,,,
480291805031,240.0,10.0,0.0,0.0,8.0,9.0,0.0,20.0,11.0,0.0,40.0,70.0,54.0,10.0,0.0,8.0,0.0
480291805032,536.0,33.0,17.0,31.0,68.0,34.0,0.0,26.0,20.0,11.0,24.0,143.0,77.0,38.0,0.0,14.0,0.0
480291704013,409.0,130.0,46.0,117.0,18.0,0.0,19.0,18.0,14.0,22.0,9.0,0.0,4.0,12.0,0.0,0.0,0.0
480291704012,190.0,57.0,34.0,8.0,20.0,14.0,0.0,0.0,0.0,0.0,19.0,18.0,20.0,0.0,0.0,0.0,0.0
480291914061,1133.0,0.0,0.0,35.0,21.0,111.0,50.0,42.0,11.0,14.0,71.0,46.0,141.0,178.0,120.0,81.0,212.0

In [106]:
df07.columns

Index(['B19001_001E', 'B19001_002E', 'B19001_003E', 'B19001_004E',
       'B19001_005E', 'B19001_006E', 'B19001_007E', 'B19001_008E',
       'B19001_009E', 'B19001_010E', 'B19001_011E', 'B19001_012E',
       'B19001_013E', 'B19001_014E', 'B19001_015E', 'B19001_016E',
       'B19001_017E'],
      dtype='object', name=0)

In [107]:
df07.describe()

,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,583.555351,41.899446,26.924354,27.913284,29.468635,29.745387,29.195572,27.861624,26.334871,23.414207,50.083026,59.092251,73.012915,48.154059,32.139299,28.846863,29.469557
std,374.096444,48.922877,31.150482,32.141709,31.671967,34.216109,33.218193,31.036024,29.544955,26.368071,46.954690,57.770942,73.801860,58.351605,46.490658,49.574874,65.598671
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,333.750000,11.000000,0.000000,0.000000,5.000000,7.000000,6.000000,7.000000,5.750000,0.000000,19.000000,21.000000,22.750000,8.000000,0.000000,0.000000,0.000000
50%,481.000000,28.000000,17.000000,19.000000,20.000000,19.500000,20.000000,18.000000,18.500000,16.000000,38.000000,44.000000,51.000000,30.000000,15.000000,10.000000,0.000000
75%,729.250000,57.000000,40.000000,41.000000,45.000000,40.250000,42.000000,39.000000,36.250000,33.250000,68.000000,79.000000,105.000000,67.000000,43.000000,36.000000,28.000000
max,3663.000000,479.000000,231.000000,288.000000,219.000000,311.000000,306.000000,220.000000,232.000000,189.000000,383.000000,547.000000,594.000000,582.000000,489.000000,519.000000,754.000000

In [108]:
df07.sum()

0
B19001_001E    632574.0
B19001_002E     45419.0
B19001_003E     29186.0
B19001_004E     30258.0
B19001_005E     31944.0
B19001_006E     32244.0
B19001_007E     31648.0
B19001_008E     30202.0
B19001_009E     28547.0
B19001_010E     25381.0
B19001_011E     54290.0
B19001_012E     64056.0
B19001_013E     79146.0
B19001_014E     52199.0
B19001_015E     34839.0
B19001_016E     31270.0
B19001_017E     31945.0
dtype: float64

In [109]:
# merge house_ann_inc_010_025
df07['B19001_005E_M'] = df07.B19001_003E + df07.B19001_004E + df07.B19001_005E

In [110]:
# merge house_ann_inc_025_050
df07['B19001_010E_M'] = df07.B19001_006E + df07.B19001_007E + df07.B19001_008E + df07.B19001_009E + df07.B19001_010E

In [111]:
# merge house_ann_inc_050_100
df07['B19001_013E_M'] = df07.B19001_011E + df07.B19001_012E + df07.B19001_013E

In [112]:
# merge house_ann_inc_100_200
df07['B19001_016E_M'] = df07.B19001_014E + df07.B19001_015E + df07.B19001_016E

In [113]:
df07_keep_cols = [
    'B19001_001E', 
    'B19001_002E', 
    'B19001_005E_M', 
    'B19001_010E_M', 
    'B19001_013E_M', 
    'B19001_016E_M',
    'B19001_017E'
]

In [114]:
df07[df07_keep_cols].sum()

0
B19001_001E      632574.0
B19001_002E       45419.0
B19001_005E_M     91388.0
B19001_010E_M    148022.0
B19001_013E_M    197492.0
B19001_016E_M    118308.0
B19001_017E       31945.0
dtype: float64

In [115]:
df07 = df07[df07_keep_cols]

In [116]:
df07.to_csv(dest07, header=True, index=True, index_label='block_group')

In [117]:
rdf07=pd.read_csv(dest07).set_index('block_group')

In [118]:
rdf07.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   B19001_001E    1084 non-null   float64
 1   B19001_002E    1084 non-null   float64
 2   B19001_005E_M  1084 non-null   float64
 3   B19001_010E_M  1084 non-null   float64
 4   B19001_013E_M  1084 non-null   float64
 5   B19001_016E_M  1084 non-null   float64
 6   B19001_017E    1084 non-null   float64
dtypes: float64(7)
memory usage: 67.8 KB

# B1905x

In [119]:
data08 = 'https://api.census.gov/data/2018/acs/acs5?get=B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19053_001E,B19053_002E,B19053_003E,B19054_001E,B19054_002E,B19054_003E,B19055_001E,B19055_002E,B19055_003E,B19056_001E,B19056_002E,B19056_003E,B19057_001E,B19057_002E,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E,B19060_001E,B19060_002E,B19060_003E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src08 = '../data_files/census_data/acs5_B1905x_IncomeTypeByHousehold.json'
dest08 = '../data_files/census_data/acs5_B1905x_IncomeTypeByHousehold.csv'

In [120]:
df08 = wrangle_acs5(src08)

In [121]:
df08.head()

,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19053_001E,B19053_002E,B19053_003E,B19054_001E,...,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E,B19060_001E,B19060_002E,B19060_003E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,240.0,203.0,37.0,240.0,203.0,37.0,240.0,0.0,240.0,240.0,...,230.0,240.0,20.0,220.0,240.0,63.0,177.0,240.0,10.0,230.0
480291805032,536.0,422.0,114.0,536.0,422.0,114.0,536.0,16.0,520.0,536.0,...,528.0,536.0,36.0,500.0,536.0,141.0,395.0,536.0,82.0,454.0
480291704013,409.0,272.0,137.0,409.0,272.0,137.0,409.0,12.0,397.0,409.0,...,393.0,409.0,232.0,177.0,409.0,65.0,344.0,409.0,43.0,366.0
480291704012,190.0,120.0,70.0,190.0,120.0,70.0,190.0,16.0,174.0,190.0,...,185.0,190.0,72.0,118.0,190.0,45.0,145.0,190.0,12.0,178.0
480291914061,1133.0,963.0,170.0,1133.0,904.0,229.0,1133.0,180.0,953.0,1133.0,...,1133.0,1133.0,0.0,1133.0,1133.0,352.0,781.0,1133.0,72.0,1061.0

In [122]:
df08.columns

Index(['B19051_001E', 'B19051_002E', 'B19051_003E', 'B19052_001E',
       'B19052_002E', 'B19052_003E', 'B19053_001E', 'B19053_002E',
       'B19053_003E', 'B19054_001E', 'B19054_002E', 'B19054_003E',
       'B19055_001E', 'B19055_002E', 'B19055_003E', 'B19056_001E',
       'B19056_002E', 'B19056_003E', 'B19057_001E', 'B19057_002E',
       'B19057_003E', 'B19058_001E', 'B19058_002E', 'B19058_003E',
       'B19059_001E', 'B19059_002E', 'B19059_003E', 'B19060_001E',
       'B19060_002E', 'B19060_003E'],
      dtype='object', name=0)

In [123]:
df08.describe()

,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19053_001E,B19053_002E,B19053_003E,B19054_001E,...,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E,B19060_001E,B19060_002E,B19060_003E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,583.555351,473.077491,110.477860,583.555351,456.482472,127.072878,583.555351,58.086716,525.468635,583.555351,...,573.646679,583.555351,79.344096,504.211255,583.555351,101.596863,481.958487,583.555351,83.067343,500.488007
std,374.096444,336.705566,78.487294,374.096444,331.098678,84.541014,374.096444,52.395381,341.487812,374.096444,...,371.335206,374.096444,76.125502,364.626702,374.096444,86.533192,320.472811,374.096444,82.469044,315.556164
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,333.750000,249.000000,61.000000,333.750000,236.750000,71.000000,333.750000,21.000000,301.000000,333.750000,...,327.000000,333.750000,25.000000,263.750000,333.750000,44.000000,271.000000,333.750000,30.000000,290.000000
50%,481.000000,372.000000,95.000000,481.000000,359.500000,113.000000,481.000000,46.000000,431.500000,481.000000,...,466.500000,481.000000,57.500000,395.000000,481.000000,79.000000,391.500000,481.000000,60.000000,416.000000
75%,729.250000,595.250000,139.000000,729.250000,578.000000,162.000000,729.250000,80.000000,660.250000,729.250000,...,719.000000,729.250000,110.000000,628.000000,729.250000,132.000000,603.500000,729.250000,111.000000,629.500000
max,3663.000000,3081.000000,918.000000,3663.000000,3008.000000,984.000000,3663.000000,525.000000,3138.000000,3663.000000,...,3591.000000,3663.000000,581.000000,3546.000000,3663.000000,843.000000,2832.000000,3663.000000,677.000000,2986.000000

In [124]:
df08.sum()

0
B19051_001E    632574.0
B19051_002E    512816.0
B19051_003E    119758.0
B19052_001E    632574.0
B19052_002E    494827.0
B19052_003E    137747.0
B19053_001E    632574.0
B19053_002E     62966.0
B19053_003E    569608.0
B19054_001E    632574.0
B19054_002E     91208.0
B19054_003E    541366.0
B19055_001E    632574.0
B19055_002E    167257.0
B19055_003E    465317.0
B19056_001E    632574.0
B19056_002E     38285.0
B19056_003E    594289.0
B19057_001E    632574.0
B19057_002E     10741.0
B19057_003E    621833.0
B19058_001E    632574.0
B19058_002E     86009.0
B19058_003E    546565.0
B19059_001E    632574.0
B19059_002E    110131.0
B19059_003E    522443.0
B19060_001E    632574.0
B19060_002E     90045.0
B19060_003E    542529.0
dtype: float64

In [125]:
df08[df08.B19051_001E == 0]

,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19053_001E,B19053_002E,B19053_003E,B19054_001E,...,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E,B19060_001E,B19060_002E,B19060_003E
block_group,,,,,,,,,,,,,,,,,,,,,
480299800011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480299800021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480299800041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
# merge house_earnings_pct
df08['B19051_001E_R'] = df08.B19051_002E / df08.B19051_001E

In [127]:
df08[['B19051_001E','B19051_001E_R','B19051_002E','B19051_003E']].sort_values(by=['B19051_001E_R'])

0             B19051_001E  B19051_001E_R  B19051_002E  B19051_003E
block_group
480291106003        312.0       0.096154         30.0        282.0
480291204006        497.0       0.195171         97.0        400.0
480291702005        379.0       0.274406        104.0        275.0
480291923001        328.0       0.378049        124.0        204.0
480291805014        492.0       0.382114        188.0        304.0
...                   ...            ...          ...          ...
480291914103        859.0       1.000000        859.0          0.0
480291305004        222.0       1.000000        222.0          0.0
480299800011          0.0            NaN          0.0          0.0
480299800021          0.0            NaN          0.0          0.0
480299800041          0.0            NaN          0.0          0.0

[1084 rows x 4 columns]

In [128]:
# merge house_earnings_tot
df08['B19051_000E'] = df08.B19051_001E

In [129]:
# merge house_earnings_pct
df08['B19052_001E_R'] = df08.B19052_002E / df08.B19052_001E

In [130]:
# merge house_earnings_pct
df08['B19055_001E_R'] = df08.B19055_002E / df08.B19055_001E

In [131]:
# merge house_earnings_pct
df08['B19056_001E_R'] = df08.B19056_002E / df08.B19056_001E

In [132]:
# merge house_earnings_pct
df08['B19057_001E_R'] = df08.B19057_002E / df08.B19057_001E

In [133]:
# merge house_earnings_pct
df08['B19058_001E_R'] = df08.B19058_002E / df08.B19058_001E

In [134]:
# merge house_earnings_pct
df08['B19059_001E_R'] = df08.B19059_002E / df08.B19059_001E

In [135]:
df08_keep_cols = [
    'B19051_000E', 
    # 'B19051_001E_R', 
    'B19051_002E', 
    'B19051_003E', 
    # 'B19052_001E_R',
    'B19052_002E', 
    'B19052_003E', 
    # 'B19053_001E_R',
    'B19053_002E', 
    'B19053_003E', 
    # 'B19054_001E_R',
    'B19054_002E', 
    'B19054_003E', 
    # 'B19055_001E_R', 
    'B19055_002E',
    'B19055_003E', 
    # 'B19056_001E_R', 
    'B19056_002E', 
    'B19056_003E',
    # 'B19057_001E_R', 
    'B19057_002E', 
    'B19057_003E', 
    # 'B19058_001E_R',
    'B19058_002E', 
    'B19058_003E', 
    # 'B19059_001E_R', 
    'B19059_002E',
    'B19059_003E',
    # 'B19060_001E_R',
    'B19060_002E', 
    'B19060_003E', 
]

In [136]:
df08[df08_keep_cols].sum()

0
B19051_000E    632574.0
B19051_002E    512816.0
B19051_003E    119758.0
B19052_002E    494827.0
B19052_003E    137747.0
B19053_002E     62966.0
B19053_003E    569608.0
B19054_002E     91208.0
B19054_003E    541366.0
B19055_002E    167257.0
B19055_003E    465317.0
B19056_002E     38285.0
B19056_003E    594289.0
B19057_002E     10741.0
B19057_003E    621833.0
B19058_002E     86009.0
B19058_003E    546565.0
B19059_002E    110131.0
B19059_003E    522443.0
B19060_002E     90045.0
B19060_003E    542529.0
dtype: float64

In [137]:
df08 = df08[df08_keep_cols]

In [138]:
df08.to_csv(dest08, header=True, index=True, index_label='block_group')

In [139]:
rdf08=pd.read_csv(dest08).set_index('block_group')

In [140]:
rdf08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   B19051_000E  1084 non-null   float64
 1   B19051_002E  1084 non-null   float64
 2   B19051_003E  1084 non-null   float64
 3   B19052_002E  1084 non-null   float64
 4   B19052_003E  1084 non-null   float64
 5   B19053_002E  1084 non-null   float64
 6   B19053_003E  1084 non-null   float64
 7   B19054_002E  1084 non-null   float64
 8   B19054_003E  1084 non-null   float64
 9   B19055_002E  1084 non-null   float64
 10  B19055_003E  1084 non-null   float64
 11  B19056_002E  1084 non-null   float64
 12  B19056_003E  1084 non-null   float64
 13  B19057_002E  1084 non-null   float64
 14  B19057_003E  1084 non-null   float64
 15  B19058_002E  1084 non-null   float64
 16  B19058_003E  1084 non-null   float64
 17  B19059_002E  1084 non-null   float64
 18  B19059_003E  1084 non-null   float64
 19  B19060_002E  1084 non-null   float64
 20  B19060_003E  1084 non-null   float64
dtypes: float64(21)
memory usage: 186.3 KB

# B24080

In [141]:
data09 = 'https://api.census.gov/data/2018/acs/acs5?get=B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,B24080_011E,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src09 = '../data_files/census_data/acs5_B24080_SexByWorkerClass.json'
dest09 = '../data_files/census_data/acs5_B24080_SexByWorkerClass.csv'

In [142]:
df09 = wrangle_acs5(src09)

In [143]:
df09.head()

,B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,...,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,186.0,113.0,113.0,0.0,22.0,11.0,0.0,40.0,0.0,...,180.0,142.0,142.0,0.0,2.0,0.0,36.0,0.0,0.0,0.0
480291805032,809.0,362.0,302.0,302.0,0.0,18.0,35.0,0.0,0.0,7.0,...,447.0,354.0,354.0,0.0,62.0,9.0,22.0,0.0,0.0,0.0
480291704013,416.0,141.0,126.0,126.0,0.0,15.0,0.0,0.0,0.0,0.0,...,275.0,255.0,255.0,0.0,0.0,8.0,12.0,0.0,0.0,0.0
480291704012,140.0,92.0,67.0,67.0,0.0,17.0,8.0,0.0,0.0,0.0,...,48.0,48.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291914061,1459.0,798.0,526.0,438.0,88.0,31.0,70.0,32.0,38.0,101.0,...,661.0,328.0,328.0,0.0,124.0,38.0,11.0,94.0,66.0,0.0

In [144]:
df09.columns

Index(['B24080_001E', 'B24080_002E', 'B24080_003E', 'B24080_004E',
       'B24080_005E', 'B24080_006E', 'B24080_007E', 'B24080_008E',
       'B24080_009E', 'B24080_010E', 'B24080_011E', 'B24080_012E',
       'B24080_013E', 'B24080_014E', 'B24080_015E', 'B24080_016E',
       'B24080_017E', 'B24080_018E', 'B24080_019E', 'B24080_020E',
       'B24080_021E'],
      dtype='object', name=0)

In [145]:
df09.describe()

,B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,...,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,818.693727,434.688192,334.930812,321.678967,13.251845,18.908672,19.175277,11.860701,20.605166,28.808118,...,384.005535,275.270295,269.411439,5.858856,31.428967,26.109779,20.937269,13.005535,16.566421,0.687269
std,578.131151,314.980195,245.508641,237.177872,23.703973,27.899039,26.403026,21.005033,39.365923,30.603141,...,279.198950,201.859966,198.541270,13.388071,35.922451,33.853112,28.758775,23.792539,22.997696,5.099109
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,424.750000,231.750000,170.000000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,...,190.750000,132.000000,128.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,664.000000,343.000000,268.500000,257.500000,0.000000,9.000000,10.000000,0.000000,7.000000,21.000000,...,309.000000,223.500000,218.000000,0.000000,21.000000,16.000000,12.000000,0.000000,9.000000,0.000000
75%,1023.750000,549.500000,430.250000,415.000000,18.000000,28.000000,28.000000,17.000000,26.000000,43.000000,...,500.250000,361.250000,356.000000,8.000000,44.000000,36.000000,31.000000,16.000000,24.000000,0.000000
max,5029.000000,2968.000000,2125.000000,2081.000000,245.000000,318.000000,198.000000,182.000000,645.000000,187.000000,...,2392.000000,1564.000000,1559.000000,138.000000,243.000000,349.000000,212.000000,178.000000,166.000000,88.000000

In [146]:
df09.sum()

0
B24080_001E    887464.0
B24080_002E    471202.0
B24080_003E    363065.0
B24080_004E    348700.0
B24080_005E     14365.0
B24080_006E     20497.0
B24080_007E     20786.0
B24080_008E     12857.0
B24080_009E     22336.0
B24080_010E     31228.0
B24080_011E       433.0
B24080_012E    416262.0
B24080_013E    298393.0
B24080_014E    292042.0
B24080_015E      6351.0
B24080_016E     34069.0
B24080_017E     28303.0
B24080_018E     22696.0
B24080_019E     14098.0
B24080_020E     17958.0
B24080_021E       745.0
dtype: float64

In [147]:
# merge workers_a_noncorp_self
df09['B24080_009E_M'] = df09.B24080_007E + df09.B24080_008E + df09.B24080_009E

In [148]:
# merge workers_f_gvt
df09['B24080_019E_M'] = df09.B24080_017E + df09.B24080_018E + df09.B24080_019E

In [149]:
# merge workers_a_profit
df09['B24080_001E_03'] = df09.B24080_003E + df09.B24080_013E

In [150]:
# merge wokers_a_non_profit
df09['B24080_001E_06'] = df09.B24080_006E + df09.B24080_016E

In [151]:
# merge workers_a_gvt
df09['B24080_001E_09'] = df09.B24080_009E_M + df09.B24080_019E_M

In [152]:
# merge workers_a_noncorp_self
df09['B24080_001E_10'] = df09.B24080_010E + df09.B24080_020E

In [153]:
# merge workers_a_noncorp_self
df09['B24080_001E_11'] = df09.B24080_011E + df09.B24080_021E

In [154]:
df09_keep_cols = [
    'B24080_001E', 
    'B24080_001E_03', 
    'B24080_001E_06', 
    'B24080_001E_09', 
    'B24080_001E_10', 
    'B24080_001E_11', 
    'B24080_002E', 
    'B24080_003E', 
    'B24080_006E',
    'B24080_009E_M', 
    'B24080_010E', 
    'B24080_011E', 
    'B24080_012E',
    'B24080_013E', 
    'B24080_016E',
    'B24080_019E_M', 
    'B24080_020E',
    'B24080_021E'
]

In [155]:
df09[df09_keep_cols].sum()

0
B24080_001E       887464.0
B24080_001E_03    661458.0
B24080_001E_06     54566.0
B24080_001E_09    121076.0
B24080_001E_10     49186.0
B24080_001E_11      1178.0
B24080_002E       471202.0
B24080_003E       363065.0
B24080_006E        20497.0
B24080_009E_M      55979.0
B24080_010E        31228.0
B24080_011E          433.0
B24080_012E       416262.0
B24080_013E       298393.0
B24080_016E        34069.0
B24080_019E_M      65097.0
B24080_020E        17958.0
B24080_021E          745.0
dtype: float64

In [156]:
df09 = df09[df09_keep_cols]

In [157]:
df09.to_csv(dest09, header=True, index=True, index_label='block_group')

In [158]:
rdf09=pd.read_csv(dest09).set_index('block_group')

In [159]:
rdf09.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   B24080_001E     1084 non-null   float64
 1   B24080_001E_03  1084 non-null   float64
 2   B24080_001E_06  1084 non-null   float64
 3   B24080_001E_09  1084 non-null   float64
 4   B24080_001E_10  1084 non-null   float64
 5   B24080_001E_11  1084 non-null   float64
 6   B24080_002E     1084 non-null   float64
 7   B24080_003E     1084 non-null   float64
 8   B24080_006E     1084 non-null   float64
 9   B24080_009E_M   1084 non-null   float64
 10  B24080_010E     1084 non-null   float64
 11  B24080_011E     1084 non-null   float64
 12  B24080_012E     1084 non-null   float64
 13  B24080_013E     1084 non-null   float64
 14  B24080_016E     1084 non-null   float64
 15  B24080_019E_M   1084 non-null   float64
 16  B24080_020E     1084 non-null   float64
 17  B24080_021E     1084 non-null   float64
dtypes: float64(18)
memory usage: 160.9 KB

# C17002

In [160]:
data10 = 'https://api.census.gov/data/2018/acs/acs5?get=C17002_001E,C17002_002E,C17002_003E,C17002_004E,C17002_005E,C17002_006E,C17002_007E,C17002_008E&for=block%20group:*&in=state:48&in=county:029&in=tract:*'
src10 = '../data_files/census_data/acs5_C17002_RatioIncomePoverty.json'
dest10 = '../data_files/census_data/acs5_C17002_RatioIncomePoverty.csv'

In [161]:
df10 = wrangle_acs5(src10)

In [162]:
df10.head()

,C17002_001E,C17002_002E,C17002_003E,C17002_004E,C17002_005E,C17002_006E,C17002_007E,C17002_008E
block_group,,,,,,,,
480291805031,659.0,33.0,0.0,69.0,124.0,9.0,30.0,394.0
480291805032,1942.0,160.0,280.0,87.0,71.0,154.0,19.0,1171.0
480291704013,1676.0,630.0,460.0,140.0,163.0,77.0,0.0,206.0
480291704012,730.0,260.0,69.0,15.0,101.0,116.0,43.0,126.0
480291914061,2612.0,0.0,84.0,0.0,150.0,50.0,0.0,2328.0

In [163]:
df10.columns

Index(['C17002_001E', 'C17002_002E', 'C17002_003E', 'C17002_004E',
       'C17002_005E', 'C17002_006E', 'C17002_007E', 'C17002_008E'],
      dtype='object', name=0)

In [164]:
df10.describe()

,C17002_001E,C17002_002E,C17002_003E,C17002_004E,C17002_005E,C17002_006E,C17002_007E,C17002_008E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1745.749077,118.272140,165.551661,93.045203,95.821956,123.920664,51.661439,1097.476015
std,1158.358617,141.388043,181.213378,116.610767,118.120830,138.958357,75.648839,986.984593
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1006.000000,25.000000,35.000000,12.000000,10.750000,25.000000,0.000000,460.750000
50%,1434.500000,79.000000,104.000000,51.000000,52.500000,81.000000,23.000000,772.000000
75%,2173.000000,162.250000,237.250000,136.000000,140.250000,174.000000,70.000000,1400.000000
max,10968.000000,1421.000000,1631.000000,978.000000,712.000000,1065.000000,542.000000,8988.000000

In [165]:
df10.sum()

0
C17002_001E    1892392.0
C17002_002E     128207.0
C17002_003E     179458.0
C17002_004E     100861.0
C17002_005E     103871.0
C17002_006E     134330.0
C17002_007E      56001.0
C17002_008E    1189664.0
dtype: float64

In [166]:
# merge ratio_inc_pov_ann_050_099
df10['C17002_005E_M'] = df10.C17002_004E + df10.C17002_005E

In [167]:
# merge ratio_inc_pov_ann_100_150
df10['C17002_007E_M'] = df10.C17002_006E + df10.C17002_007E

In [168]:
df10_keep_cols = [
    'C17002_001E', 
    'C17002_002E', 
    'C17002_003E', 
    'C17002_005E_M',
    'C17002_007E_M', 
    'C17002_008E'
]

In [169]:
df10[df10_keep_cols].sum()

0
C17002_001E      1892392.0
C17002_002E       128207.0
C17002_003E       179458.0
C17002_005E_M     204732.0
C17002_007E_M     190331.0
C17002_008E      1189664.0
dtype: float64

In [170]:
df10 = df10[df10_keep_cols]

In [171]:
df10.to_csv(dest10, header=True, index=True, index_label='block_group')

In [172]:
rdf10=pd.read_csv(dest10).set_index('block_group')

In [173]:
rdf10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   C17002_001E    1084 non-null   float64
 1   C17002_002E    1084 non-null   float64
 2   C17002_003E    1084 non-null   float64
 3   C17002_005E_M  1084 non-null   float64
 4   C17002_007E_M  1084 non-null   float64
 5   C17002_008E    1084 non-null   float64
dtypes: float64(6)
memory usage: 59.3 KB